/*///////////////////////////////////*/
/*               General              */
/*///////////////////////////////////*/
html {
    font-size: 14px;
}

html, body {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;    
}

body {
        position: fixed; 
        width: 100%;
        height: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 200;
    margin: 10px;
    margin-bottom: 0.4rem;
}

h1 {
    color: #979797;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h5 {
    font-size: 0.9rem;
}

label {
    color: #3e6c8b;
    margin-bottom: 0;
    font-weight: 500;
}

//input {
//    border-color: #c1ccd5 !important
//}

select[multiple] {
    padding: 0.3rem 0.5rem;;
}

svg text {
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;
}

svg.nvd3-svg {
    padding: 1.4rem 0 0 0;
    margin: -2rem 0 0rem 0;  
}

.btn {
/*
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
*/
    font-size: 0.9rem;
}

.btn.btn-default {
    background: #fff;
    color: #666 !important;
}

.btn.btn-default:hover {
    background: #ddd;
}

.btn.btn-primary {
    background-color: #FFFFFF;
    border-color: #367fa9;
    color: #367fa9;
}

.btn.btn-warning {
    background-color: #FFFFFF;
    border-color: #e08e0b;
    color: #e08e0b;
}

.btn:hover {
    color: #fff;
}

.panel-default >.panel-heading {
    color: #353535;
    background-color: inherit;
    border: none;
}

.dashboard-container {
    margin-top: 0.8rem;
    margin-bottom: 20%;
}


.dashboard-container a i {
    color: #7F7F7F;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dashboard-container > a i {
    margin-top: 0.5rem;
}

.dashboard-container a i:hover {
    color: #404B5B;
}

.input-group .input-group-addon {
    min-width: 7.4rem;
    max-width: 7.4rem;
    font-size: 0.8rem;
}

.skin-black .left-side {
    background: #404B5B;
    width: 12rem;
    padding: 0;
}

.sidebar {
    width: 12rem;
    left: 0;
    border: none;
    padding: 0;
}

.sidebar .sidebar-menu {
    top: 5rem;    
    width: inherit;
}

.sidebar .sidebar-menu li a {
    padding: 1rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sidebar .sidebar-menu li a:hover {
    background: #2F3847;
}

.sidebar .sidebar-menu .treeview-home-menu {
    margin-top: -0.4rem;
}

.sidebar .sidebar-menu .treeview-home-menu>li>div>a {
    font-size: 0.8rem;
    padding: 0.6rem 0 0.6rem 1.8rem;
}

.sidebar .sidebar-menu li .active {
    background: #2F3847;
}

.sidebar .sidebar-menu .pull-right {
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #647389 !important;
}

#main {
    margin-left: 13rem;
    overflow: scroll;
    width: 98%;
    overflow-y: scroll;
    // position: absolute;
    height: 100%;
}


.navbar {
    margin-bottom: 0;
}

.navbar-header {
    float: left;
}

.navbar .active a {
    background: #404B5B !important;
}

.navbar-nav > li {
    height: 3.6rem;
}

.navbar-nav i {
    margin-right: 0.4rem;
}

#filterIndicator i {
    margin-right: 0.4rem;
}

#updateIndicator {
    color: #F9AE13 !important;
}

#updateIndicator i {
    margin-right: 0.4rem;
}

.backwindow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.4;
    z-index: -1;
}

#timeselector .content {
    background: #404B5B;
    width: 38rem;
    padding: 0.6rem 0.4rem 0.6rem 1.4rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    position: absolute;
    right: 0;
}

#timeselector h2 {
    color: #B6C1D1;
}

#timeselector label {
    color: #8291A5;
}

#timeselector hr {
    border-top-color: #536378;
    margin: 0.8rem 0.8rem 1rem 0.8rem;
}

#timeselector a {
    color: #B6C1D1;
}

#timeselector a:hover, #timeselector a.active {
    color: #fff;
}

#timeselector ul {
    padding-left: 0;
}

#timeselector li {
    list-style-type: none;
} 

#timeselector .rightBorder {
    border-right: #536378 0.1rem solid;
}

#timeselector .leftMargin {
    padding-left: 3%;
}

#timeselector .leftBorder {
    border-left: #536378 0.1rem solid;
    padding-left: 3%;
    padding-bottom: 6rem;
}

#timeselector .btn {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

#timeselector .calendars input {
    font-size: 0.85rem;
    padding: 0.4rem;
    width: 101%;
}

#timeselector .calendars .input-group-addon {
    padding: 0;
    min-width: initial;
    background: #fff;
    z-index: 100;
}

#timeselector .calendars .input-group-addon button {
    margin: 0;
    padding: 0.4rem 0.8rem;
    color: #6F88AB;
    background: #fff;
    box-shadow: initial;
    border: none;
    border-left: #DCE3ED solid 0.1rem;
    border-radius: 0;
}

#timeselector .calendars .input-group-addon button:hover, #timeselector .calendars .input-group-addon button i:hover  {
    color: #404B5B;
}

#timeselector .calendars table {
    width: 100%;
}

/* Calendar */

#timeselector .calendars .dropdown-menu {
    margin: 0;
    padding-top: 0;
}

#timeselector .calendars .dropdown-menu td .btn {
    margin: 0;
    border: none;
}

#timeselector .calendars .dropdown-menu .btn-group.pull-left {
    display: none;    
}

#timeselector .calendars .dropdown-menu .btn-success {
    background: #fff;
    color: #666 !important;
    border-color: #666 !important;
    margin: 0;
        margin-bottom: 0.3rem;
}

#timeselector .calendars .dropdown-menu .btn-success:hover {
    background: #ddd;
}

#timeselector .calendars .dropdown-menu .active {
    color: #404B5B;
    background: #D2DBE9;
}

#timeselector .calendars .dropdown-menu thead button {
    margin: 0;
    border: none;
}

/*///////////////////////////////////*/
/*         Dashbords select          */
/*///////////////////////////////////*/

#dashSwitch {
    background: #404B5B;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    overflow-y: auto;
    max-height: 40rem;
    padding: 8px;
}

#dashSwitch ul {
    padding-left: 0;
}

#dashSwitch li {
    list-style-type: none;
} 

#dashSwitch li a {
    padding: 0.6rem 1rem;
    display: block;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

#dashSwitch li.input {
    padding: 0;
}

#dashSwitch li.active a, #dashSwitch li.active a span, #dashSwitch li a:hover, #dashSwitch li.active a:hover span{
    background: #2F3847 !important;
}


#dashSwitch input {
    font-size: 0.8rem;
    min-width: 11.4rem;
    background: #5D6B7E;
    border: none;
    color: #D3DBE7 !important;
}

#dashSwitch input::-webkit-input-placeholder {
    color:    #8F9CAE;
}

#dashSwitch input:-moz-placeholder {
    color:    #8F9CAE;
}

#dashSwitch input::-moz-placeholder {
    color:    #8F9CAE;
}

#dashSwitch input:-ms-input-placeholder {
    color:    #8F9CAE;
}

/*///////////////////////////////////*/
/*               Widget              */
/*///////////////////////////////////*/

.fix-right-6-column {
    padding-left: 7px;
    padding-right: 0;
}

.fix-left-6-column {
    padding-right: 7px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 1000000;
}

#queryTab {
    position: relative;
}

#totalValue {
        margin: 1.1rem 0.4rem;
}

.checkboxGlyphicon {
    color: #688BA2;
    margin-right: 0.2rem;
    font-size: 1.2rem;
}

.modal {
    z-index: 1000000000;
}

.modal a:hover, .modal .tab-content tab-heading:hover {
    text-decoration: underline;
}

.modal .tab-content .active > a > tab-heading:hover {
    text-decoration: initial;
}

.modal .modal-dialog select {
    -webkit-appearance: none;
}

.modal .modal-dialog label {
    font-size: 0.8rem;
}

.modal .modal-dialog select, .modal .modal-dialog input {
    font-size: 0.9rem !important
}

.modal .modal-dialog .modal-footer button:hover {
    background: #214b68;
}

.modal .modal-dialog .modal-content {
    padding: 0;
    -webkit-border-radius: 0.4rem 0.4rem 0 0;
    -moz-border-radius: 0.4rem 0.4rem 0 0;
    border-radius: 0.4rem 0.4rem 0 0;
}

.modal .modal-dialog .modal-content .input-group .input-group-addon {
    min-width: initial;
    border-radius: 0;
}

.modal .modal-dialog .modal-content .modal-header {
    background: #3e6c8b;
    color: #c1ccd5;
    border: 0;
    -webkit-border-radius: 0.4rem 0.4rem 0 0;
    -moz-border-radius: 0.4rem 0.4rem 0 0;
    border-radius: 0.4rem 0.4rem 0 0;
}

.modal .modal-dialog .modal-content .modal-header a {
    color: #c1ccd5;
}

.modal .modal-dialog .modal-content .modal-header button {
    padding: 0.8rem 1.4rem 1.2rem 1.4rem;
    margin: -1.1rem;
    background: #3e6c8b;
    color: #c1ccd5;
    opacity: 1;
    line-height: 1.8rem;
    border-top-right-radius: 0.4rem;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.modal .modal-dialog .modal-content .modal-header button:hover {
    color: #fff;
    background: #214b68;
}

.modal .modal-dialog .modal-content .modal-body .nav-tabs {
    background: #7094ac;
    border: 0;
    margin: -1.1rem;
}

.modal .modal-dialog .modal-content .modal-body .nav-tabs > li {
    margin: 0;
}

.modal .modal-dialog .modal-content .modal-body .nav-tabs a {
    background: #7094ac;
    color: #ebebeb;
    border: 0;
    margin: 0;
    border-radius: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.modal .modal-dialog .modal-content .modal-body .chartswdgt .nav-tabs li {
    width: 50%;
}

.modal .modal-dialog .modal-content .modal-body .chartswdgt .nav-tabs li a {
    width: 100%;
    text-align: center;
}

.modal .modal-dialog .modal-content .modal-body .nav-tabs a:hover {
    color: #fff;
    background: #54778e;
}

.modal .modal-dialog .modal-content .modal-body .nav-tabs .active a {
    background: #d4dfe6;
    color: #3e6c8b;
}

.modal .modal-dialog .modal-content .modal-body .nav-tabs .active a:hover {
    color: #3e6c8b;
    background: #d4dfe6;
}

.modal .modal-dialog .modal-content .modal-body .tab-content {
    padding: 2.4rem 0.6rem 0 0.6rem;
    margin-bottom: -0.8rem;
}

.modal .modal-dialog .modal-content .modal-body .tab-content .tab-pane.active {
    opacity: 1;
}

.modal .modal-dialog .modal-content .modal-body .tab-content .tab-pane.active-add {
    opacity: 0;
}

.modal .modal-dialog .modal-content .modal-body .tab-content .tab-pane {
    -webkit-transition: all 0.08s ease-in-out;
    -moz-transition: all 0.08s ease-in-out;
    -o-transition: all 0.08s ease-in-out;
    transition: all 0.08s ease-in-out;
}

.modal .modal-dialog .modal-content .modal-body input {
    border-color: #c1ccd5;
}

.modal .modal-dialog .modal-content .modal-body .seeMore {
    float: right;
    margin-right: 1.4rem;
}

.modal .modal-dialog .modal-content .modal-body .seeMore .glyphicon{
    font-size: 0.9rem;
    margin: 0.4rem;
    color: #60ACD9;
}

.modal .modal-dialog .modal-content .modal-body .chartswdgt .input-group {
    margin: 0 0 0.4rem;
}

.modal .modal-dialog .modal-content .modal-body .chartswdgt .row .row {
    margin-right: 0;
}

.modal .modal-dialog .modal-content .modal-body .chartswdgt table {
    color: #3e6c8b;
}
.modal .modal-dialog .modal-content .modal-body .chartswdgt .tab-content .nav-tabs {
    margin: 0 -2.1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.modal .modal-dialog .modal-content .modal-body .chartswdgt hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal .modal-dialog .modal-content .modal-body .chartswdgt .green {
    background-color: #62B453;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 2.8rem;
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    top: 8rem;
    right: 1rem;
}

.modal .modal-dialog .modal-content .modal-body .tab-content .tab-content {
    margin: -2.2rem 0 4.8rem 0;
}

.modal .modal-dialog .modal-content .modal-body .chartswdgt .tab-content .nav-tabs {
    background: initial;
}

.modal .modal-dialog .modal-content .modal-body .chartswdgt .tab-content .nav-tabs li a {
    color: #3c8dbc;
    background: initial;
    margin: 0.4rem 0;
}

.modal .modal-dialog .modal-content .modal-body .chartswdgt .tab-content .nav-tabs li.active a {
    color: #A4B0B8;
}

.form-group {
    margin-bottom: 10px;
}


/*
 modal dialog in fullscreen
*/
.dashboard-modal.widget-fullscreen .modal-dialog {
  width: 98%;
}

.modal-big {
	width:100%
}

.modal-sm {
	width:900px
}

.center-modal {
    position: fixed;
    top: 5%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
  // height: 80%;
    margin-left: -10%;
}

.msg-block {
    margin-top:5px;
}
.msg-error {
    color:#F00;
    font-size:14px;
}

.searchform {
	color:#F00;

}

.ui-grid-header-cell-wrapper {
        font-size: 11px;
}
