<mat-toolbar class="title" color="primary">
  <div>Settings</div>
  <button mat-icon-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<div mat-dialog-content>
  <p>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="data.title" />
    </mat-form-field>
  </p>
</div>

<p>
  <mat-form-field appearance="outline">
    <mat-label>PCAP import WS URL: </mat-label>
    <input matInput placeholder="{{ pcapws }}" [(ngModel)]="data.pcapws" />
  </mat-form-field>
</p>
<div mat-dialog-actions style="float: right; margin-bottom: 0rem;">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Ok
  </button>
</div>
