<mat-form-field style="display: block">
  <mat-chip-grid #chipList aria-label="Array selection">
    <mat-chip-row *ngFor="let item of arrayValues" [selectable]="selectable"
             [removable]="removable" (removed)="remove(item)">
      {{item.name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip-row>
    <input [placeholder]="labelName"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-grid>
</mat-form-field>
