<mat-toolbar class="dialog-title" color="primary">
    <div>{{'exportDialog.exportGrid' | translate }}</div>
    <button mat-icon-button (click)="onNoClick()">
      <fa-icon icon="times"></fa-icon>
    </button>
  </mat-toolbar>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>{{'exportDialog.fileName' | translate }}</mat-label>
        <input matInput type='text' [(ngModel)]='params.gridExport.fileName'>
    </mat-form-field>
    <div>
        <mat-checkbox [(ngModel)]='params.gridExport.onlySelectedAllPages' color='warn'>
            {{'exportDialog.exportOnly' | translate }}
        </mat-checkbox>
    </div>
    <div>
        <mat-checkbox [(ngModel)]='params.isFormatted' color='warn'>
             {{'exportDialog.formatDate' | translate }}
        </mat-checkbox>
    </div>
    <div>
        <mat-checkbox [(ngModel)]='params.convertStatus' color='warn'>
             {{'exportDialog.convertStatus' | translate }}
        </mat-checkbox>
    </div>
    <mat-radio-group [(ngModel)]='params.type' aria-label="File type" class="type-selector-radio" color='warn'>
        <mat-radio-button value="CSV">{{'exportDialog.CSV' | translate }}</mat-radio-button>
        <mat-radio-button value="XLSX">{{'exportDialog.XLSX' | translate }}</mat-radio-button>
    </mat-radio-group>

    <app-drag-drop-list *ngIf="apiColumn.getAllColumns() !== 'undefined' && this.apiColumn.getAllColumns() !== null"
        [list]="allColumnIds"
        (change)="onUpdateProto($event)"
    ></app-drag-drop-list>
    <div *ngIf="apiColumn.getAllColumns() === 'undefined' || this.apiColumn.getAllColumns() === null">
        {{'exportDialog.pleaseMakeSearch' | translate }}
     </div>
</div>
<div mat-dialog-actions style="float: right; margin-bottom: 0rem;">
    <button mat-raised-button (click)="onNoClick()">{{'exportDialog.Cancel' | translate }}</button>
    <button mat-raised-button 
    color=primary (click)='export()' 
    [disabled]="apiColumn.getAllColumns() === 'undefined' || this.apiColumn.getAllColumns() === null">{{'exportDialog.Export' | translate }}</button>
</div>
