<div>
<form role="form">
  <div class="form-group">
   <tabset>
	<tab>
        	<tab-heading><i class="glyphicon glyphicon-transfer"></i> Chart Type </tab-heading>		
        <!--	<form role="form" class="form-horizontal"> -->
        		<div class="form-group"> 
				<div id="Chart1" style="float:left;margin-right:5px;width:45%;">
				<p>
			        	<p>
        				<label for=widgetTitle>Title</label> 
	        			<input style="width:80%;" type=text class=form-control id=widgetTitle ng-model="$parent.model.title" placeholder="Enter title" required data-inline="true"> 
			        	</p>
			        	<p>
			        	 Width:  <input style="width:80%;" type="number" min="0" class=form-control id=widgetWidth ng-model="config.chart.size.width" placeholder="Enter width (0) - default" >
			        	</p>
			        	<p>
			        	 Height: <input style="width:80%;" type="number" min="0" class=form-control id=widgetHeight ng-model="config.chart.size.height" placeholder="Enter height (0) - default" >
			        	</p>
			        	<p>
			        	 Max value: <input style="width:80%;" type="number" min="0" class=form-control id="maxvalue" ng-model="config.chart.maxvalue" placeholder="Enter max value (0) - no limit" >
			        	</p>
	        			<hr noshade width="60%" style="align:left;">
		        		<p>
		        		 <label style="width:40%;" for=widgetChartType>Type: </label>		        		 
		        		 <select ng-options="opt as opt.label for opt in charts track by opt.value " ng-model="config.chart.type"></select>	        				        			        		
			        	</p>
			        	<p>
		        		 <label style="width:40%;" for="widget3Doption">3D:</label> 
		        		 <input type="checkbox" id=widget3D ng-model="config.chart.ddd">
			        	</p>
			        	<p>
		        		 <label style="width:40%;" for="widget3Doption">Stacked:</label> 
		        		 <input type="checkbox" id=widgetStack ng-model="config.chart.sss">
		        		 <span style="text-align: right;"><label ng-if="config.chart.sss" style="width:15%;" for="widgetPercoption"> %</label> 
		        		 <input ng-if="config.chart.sss" type="checkbox" id=widgetPerc ng-model="config.chart.ppp">
					 </span>
			        	</p>

				</div>
				<div id="Chart2" style="float:left;width:45%;">
 				</p>
 				<p>
			        	<p>
			        	<label style="width:40%;" for=widgetChartType>Ext Legend:
			        	</label> <input type="checkbox"
			        	ng-init="config.chart.legend.enabled ? true : false" id=widgetLegend ng-model="config.chart.legend.enabled">			        	
			        	</p>
			        	<p>
						<label style="width:40%;" for=widgetChartType>Align: </label>		        		 
			        		<select ng-init="config.chart.legend.align = config.chart.legend.align || legend_align[0].value" 		        		
			        		ng-disabled="!config.chart.legend.enabled" ng-options="option.value as option.name for option in legend_align" ng-model="config.chart.legend.align"></select>	        				        			        		
		        		</p>
					<p>
						<label style="width:40%;" for=widgetChartType>Layout: </label>		        		 
		        			<select 
		        				ng-init="config.chart.legend.layout = config.chart.legend.layout || legend_layout[0].value" 
		        				ng-disabled="!config.chart.legend.enabled" ng-options="option.value as option.name for option in legend_layout" ng-model="config.chart.legend.layout"></select>	        				        			        		
			        	</p>
			        	<p>
				        	Y-Axis Title:  <input style="width:80%;" type="text" class=form-control id=widgetYAxis ng-model="config.chart.yaxis.title" placeholder="Enter title" >
				        </p>

			        	<p>
        				<p>Series Colors (optional):  
	        			  <input style="width:80%;" type=text class=form-control id=widgetColors ng-model="config.chart.ccc" placeholder="red,green,blue"> 
			        	</p>
			        	</p>

 				</p>	        		                 
 				</div><div style="clear:both;"/>       
	        	</div> 
	       <!-- </form> -->
	</tab>
        <tab>
        <tab-heading><i class="glyphicon glyphicon-info-sign"></i> Fields </tab-heading>
		 <br>
		<label for="path">API Query Fields</label>
		<p> 
 		Timefield:  <input type=text class=form-control id=widgetFieldTime ng-model="config.panel.timefield" placeholder="Enter timefield" required>
 		</p>
		<p>
 		Fieldname (single or semicolumn separated): 
 		<input type=text class=form-control id=widgetFieldName  ng-model="config.panel.fieldname" placeholder="Enter field (single or multiple)" required>
		</p>
		<p>
 		FieldValue (single or semicolumn separated): 
 		<input type=text class=form-control id=widgetValue  ng-model="config.panel.fieldvalue" placeholder="Enter value (single or multiple)" required>
 		FieldValue sum: 
 		<input type="checkbox" id=widgetValue ng-model="config.panel.fieldsum">
 		<p>
 		FieldValue divide: 
 		<input type="text" id=widgetValue ng-model="config.panel.fielddivide">
 		</p>
 		</p>
 		<hr noshade>
 		<p>
 		Data source main: 
 		<input type=text class=form-control id=widgetFieldName  ng-model="config.source.main" placeholder="Enter data source main" >
		</p>
 		<p>
 		Data source sub: 
 		<input type=text class=form-control id=widgetFieldName  ng-model="config.source.sub" placeholder="Enter data source sub" >
		</p>
	</tab>
	<tab>
        <tab-heading><i class="glyphicon glyphicon-info-sign"></i> Queries</tab-heading>
		<label for="path">API Query URL</label>
		<input type="text" class="form-control" id="path" ng-model="config.path"  ng-change="updateDebugUrl()" placeholder="Enter Path (call/function)">
		<label for="path">API DB</label>
		<input type="text" class="form-control" id="db" ng-model="config.db.name" ng-change="updateDebugUrl()" placeholder="Enter DB">
		<label for="path">API DB User</label>
		<input type="text" class="form-control" id="user" ng-model="config.db.user" ng-change="updateDebugUrl()" placeholder="Enter DB User">
		<label for="path">API DB Password</label>
		<input type="text" class="form-control" id="password" ng-model="config.db.password" ng-change="updateDebugUrl()" placeholder="Enter DB Password">
		<label for="path">API Query Value</label>
		<textarea style="width: 549px; height: 235px;" class="form-control" id="query" ng-change="updateDebugUrl()" ng-model="config.query" placeholder="Query"></textarea>
		<br>
		<!-- <p ng-class="parsingColorClass">{{parsingStatus}}</p> -->
	</tab>
	<tab>
	<tab-heading><i class="glyphicon glyphicon-info-sign"></i> Debug</tab-heading>
		<label for="path">CURL Debug:</label>
		<p>
			<textarea style="width: 549px; height: 235px;" class="form-control" id="debugquery" ng-model="debug" placeholder="Debug query"></textarea>
		</p>
	</tab>
   </tabset>
  </div>
</form>
</div>
