.audio-data-container {
    display: flex;
    width: 100%;
    &.header {
        padding: 1rem;
        padding-right: 2rem;
        padding-left: 1.5rem;
        color: rgba(0, 0, 0, 0.4);
    }
    >div {
        flex: 1;
        padding: 0 0.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        min-width: 50px;
        >span {
            font-weight: bold;
        }
    }

}