table {
    width: 100%;
    overflow: auto;
}
table tr {
    transition: background-color 0.3s;
    height: 38px;
}
table tr:hover {
    background-color: rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.mat-row:nth-child(2n+1){
  background-color: #e4f0ec;
}
.mat-row:not(:nth-child(2n+1)){
  background-color:#ffffff;
}