:host {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    table {
        width: 100%;
        overflow-x: hidden;
        border-bottom: 1px solid #d3d3d3;
        tr {
            transition: background-color 0.3s;
            height: 38px;
            color: rgb(27, 27, 41);

            &:hover {
                cursor: pointer;
                background-color: rgb(174, 216, 253) !important;
            }
        }
    }
.mat-tab-body-content {
    overflow-x: hidden !important;
    }
td.mat-cell {
    border-bottom-style: unset !important;
        border-right-style: solid !important;
        border-right-width: 1px !important;
        border-right-color: lightgray !important;
        padding-left: 5px !important;
        color: rgb(33, 51, 71);

        &:last-child.mat-cell {
            border-right-style: unset !important;
        }
    }

    cdk-header-cell {
        padding-left: 5px !important;
    }

    .mat-row {
        &:nth-child(2n+1) {
            background-color: #DFF1FF;
        }
&:not(:nth-child(2n+1)) {
    background-color: #EFF8FF;

        }
    }
}