.chart-container {
    position: relative;
    height:100%;
    width:100%;
}
.loading {
    height:100%;
    width:100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.6);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 9999999;
}
.fill-container {
    height:100%;
    width:100%;   
}