
.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.title {
    margin: -1.5rem -1.5rem 2rem -1.5rem;
    width: initial !important;
    display: flex;
    justify-content: space-between;
}

.example-container {
    display: flex;
    flex-direction: column;  
    & > * {
        width: 100%;
    }
    .example-list .pos-sticky {
        position: sticky;
        top: 0;
    }
}
