.alert {
	width: 400px;
	padding-right: 15px;
	padding-left: 70px;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: auto;
	bottom: 40px;
	left: 30px;
	color: white;
	
}
.alert-danger {
	background-color: #F44336;
	.circle {
		color: #F44336;
	}
}
.alert-success {
	background-color: #8BC34A;
	width:fit-content;
	.circle {
		color: #8BC34A;
	}
}
.alert-notice {
	background-color: #4a70c3;
	width:fit-content;
	.circle {
		color: #4a70c3;
	}
}
.alert-warning {
	background-color: #ff9800;
	width:fit-content;
	.circle {
		color: #ff9800;
	}
}
.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: white;
}
.alert-type {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.14);
	width: 60px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.close-message {
	font-size: 20px;
	height: 20px;
	width: 20px;
	cursor: pointer;
    user-select: none;
}
.message-text::first-letter {
	text-transform: capitalize;
}
.message-object {
    color: white;
    border-radius: .25rem;
    position: absolute;
    width: 400px;
    height: 250px;
    top: -260px;
    left: 0px;
    padding: 1.5rem;
    padding-top: calc(20px + 1rem);
    word-break: break-all;
    .message-object-text {
        overflow-x: scroll;
        height: 200px;
    }
    .copy {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}