@import '../../../../../theme.scss';
@import '~@angular/material/theming';
$primary: mat-palette($homerprimary);
$accent:  mat-palette($homeraccent);
::ng-deep .ipSelect{
    width:  80%;
    height: 80%;
    background-color: mat-color($primary, 500);
    color: mat-color($primary, 800-contrast);
    border-radius: 4px;
    padding: 22px 16px;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.share-link-menu {
    display: none;
    flex-direction: column;
}

.setting-btn {
    background: mat-color($primary, 500);
    color: white !important;
    font-weight: 500;
    width: 80%;
    height: 80%;
    &:hover .hover-hide {
        display: none;
    }
    &:hover .share-link-menu {
        display: flex;
    }
}
.in-select{
    width: 100% !important;
    padding: 0;
}
::ng-deep .mat-select-placeholder{
    color:white !important;
    font-weight: 500;
}
::ng-deep mat-select-trigger{
    color:white !important;
    font-weight: 500;
}
::ng-deep .mat-select-arrow{
    color:white !important;
    font-weight: 500;
}
 .copyField{
    border: 0;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}
