<mat-label style="color: rgba(0, 0, 0, 0.54); font-size: 0.8em;">Smart Input</mat-label>
<div class="smart-input-group" style="display: flex;">

<div ngDefaultControl
    spellcheck="false"
    name="divContainer"
    contenteditable="true"
    class="div-field"
    (keyup)="onKeyUpDiv($event)"
    (keydown)="onKeyDownDiv($event)"
    style="flex-grow:1"
    #divContainer></div>

<div [matMenuTriggerFor]="trigger" style="position: absolute;"></div>

<mat-menu #trigger="matMenu">
    <p class="menu-title">{{menuTitle}}</p>
    <button mat-menu-item *ngFor="let item of popupList" (click)="onMenuMessage(item)" (keyup)="onMenuMessage(item, $event)">
        {{ item }}
    </button>

</mat-menu>


</div>
