Source: homer-ui
Section: comm
Priority: optional
Maintainer: Konstantin S. Vishnivetsky <kvishnivetsky@sipcapture.org>
Uploaders: Victor Seva <linuxmaniac@torreviejawireless.org>
Build-Depends: dh-autoreconf,
               debhelper (>= 9~)
Standards-Version: 3.9.6
Homepage: http://sipcapture.org
Vcs-Git: https://github.com/sipcapture/homer-ui.git
Vcs-Browser: https://github.com/sipcapture/homer-ui

Package: homer-ui
Architecture: all
Depends: homer-api,
         ${misc:Depends}
Description: SIP capture server
 HOMER5 a robust, carrier-grade, scalable SIP Capture system and
 Monitoring Application with HEP/HEP2, IP Proto4 (IPIP) encapsulation
 & port mirroring/monitoring support right out of the box, ready to
 process & store insane amounts of signaling with instant search,
 end-to-end analysis and drill-down capabilities for ITSPs, VoIP
 Providers and Trunk Suppliers using SIP signaling
 .
 This package contains the HOMER User Interface
