.resalt-top-tools {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin: 0 1rem;
}

.loading {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.6);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	z-index: 9999999;
}

.regex-filter {
	position: fixed;
	top: 5px;
	background: white;
	width: 250px;
	margin: auto;
	right: 311px;
	left: 0;
	border: 0;
	padding: 5px 10px;
	border-radius: 6px;
	outline: none;
	box-shadow: inset 1px 1px 14px -6px rgba(0, 0, 0, 0.4);

	&.inContainer {
		left: initial;
		right: 3rem;
	}
}

.search-slider-footer {
	position: absolute;
	background: #fff;
	bottom: 3rem;
	left: 5rem;
	right: 5rem;
	margin: auto;
	box-shadow: 0 -3px 12px -5px #000;
	transition: all 0.6s;

	&>.content {
		padding: 0rem;

		.example-container {
			padding: 0rem;
		}
	}
}

.no-smart-warn {
	padding: 10px;
	background: grey;
	color: white;
	font-size: 14px;
	text-align: center;
}


.lds-container {
	width: 100%;
	height: 100%;
	background: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #878787;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #878787 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.norowstemplate {
	background: #c1c1c1;
	color: white;
	padding: 20px;
	border-radius: 3px;
	font-weight: bold;
}

.paginator {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 56px;
}
.onlyLoader {
	position: absolute;
	height: 80px;
	width: 80px;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
	background-color: rgba(0, 0, 0, 0.25);
}