.resalt-top-tools {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin: 0 1rem;
}

.loading {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.6);
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	z-index: 9999999;
}

.regex-container {
	font-size: 13px;
	position: fixed;
	top: 2px;
	right: 46px;
	max-width: 275px;
	display: flex;
	justify-content: flex-end;
	&.inContainer {
		justify-content: flex-start;
	}

	.regex-filter {
		background: white;
		width: 175px;
		border: 0;
		padding: 3px 6px;
		border-radius: 3px 0px 0px 3px;

		outline: none;
		height: 20px;
		background: #eeeeee;
		transition: 2s all;

	}

	.regex-button {
		height: 24px;
		width: 24px;
		border-radius: 25%;
		color: #949494;
		font-size: 11px;
		background: none;
		border: none;

	}



	&.inContainer {
		top:9px;
		left: 200px;
		.regex-filter {

			height: 30px !important;
		}
		.regex-button {
			height: 30px;
			width: 30px;
			margin: 0px 6px;
			font-size: 18px;
			color: #afafaf;
		}

	}
}


.search-slider-footer {
	position: absolute;
	background: #fff;
	bottom: 3rem;
	left: 5rem;
	right: 5rem;
	margin: auto;
	box-shadow: 0 -3px 12px -5px #000;
	transition: all 0.6s;

	&>.content {
		padding: 0rem;

		.example-container {
			padding: 0rem;
		}
	}
}
.paginator {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 56px;
}
.no-smart-warn {
	padding: 10px;
	background: grey;
	color: white;
	font-size: 14px;
	text-align: center;
}
::ng-deep .mat-icon-button {
    overflow: hidden;
}

::ng-deep .mat-icon-button.smart-input {
    overflow: visible !important;
    border-radius: 0;
}
.export-container {
	display: inline-block;
	width: 300px;
	z-index: 10;

	button {
		height: 36px;
		margin-right: 10px;
	}

	&.inContainer {
		left: 4rem;
	}
}

.lds-container {
	width: 100%;
	height: 100%;
	background: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	z-index: 1000;
}
.onlyLoader {
	position: absolute;
	height: 80px;
	width: 80px;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
	background-color: rgba(0, 0, 0, 0.25);
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #26bfbc;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #26bfbc transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
