.message-container {

	height: 100%;
	.ngx-json-viewer {
		height: initial !important;
		font-size: 12px !important;
	}
}
table {
	tr {
		height: 38px;
	}
}
.detail-table{
	font-family: Monospace;
}
.pre-content {
	font-family: monospace;
	font-size: 10pt;
	padding: 0.5rem 2rem;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
}
/*
.pre-content {
	font-family: Roboto;
	font-size: 13px;
	padding: 0.5rem 2rem;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	line-height: 24px;
    margin-left: 6px;
    margin-top: 6px;
}
*/
.raw-json {
	font-family: monospace;
	white-space: pre-wrap;
	font-size: 12px;
    margin-left: 6px;
	margin-top: 6px;
	color:#505050;
}
