
.message-container {
    height: 100%;
}
.message-container .ngx-json-viewer {
    height: initial !important;
}
table tr {
    height: 38px;
}
.pre-content {
    font-family: monospace;
    font-size: 10pt;
    padding: 0.5rem 2rem;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
    min-width: 0!important;
    padding: 1rem!important;
    transition: background-color 0.3s!important;
}
::ng-deep.mat-tab-label-active {
    background-color: #10c1cf!important;
    color: black!important;
    opacity: 1!important;
}

::ng-deep.mat-ink-bar {
    opacity: 0!important;
}