.div-field {
    padding: 5px 0;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    outline: none;
    //font-weight: bold;
   font-family: "Roboto Mono", monospace;
    font-size: 12px;
 
   
   // margin-bottom: 1.25em;
    //min-height: 28px;
    // max-height: 28px;
}
.menu-title {
    background: rgba(0,0,0,0.1);
    margin: 0;
    padding: 4px 1rem;
    font-size: 0.9em;
}
.error {
    align-items: center;
    display: flex;
    font-size: 0.9em;
    color: red;
    background-color: #fdd;
    padding: 1rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}