.chack-list {
	margin-right: 1.3rem;
}

.title {
	margin: -1.5rem -1.5rem 2rem -1.5rem;
	width: initial !important;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	//font-weight: 400;
	letter-spacing: 1px;
}

.example-container {
	display: flex;
	flex-direction: column;

	&>* {
		width: 100%;
	}
}

.hide {
	display: none !important;
}

.sync-opt>* {

	text-transform: none !important;


}

.blink_me {
	animation: blinker 2s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
