<mat-tab-group [selectedIndex]="indexTabPosition" [disablePagination]="true" #matTabGroup>


  <mat-tab *ngIf="isLogs" label="HEP Logs">
    <app-tab-logs [data]="dataLogs"></app-tab-logs>
  </mat-tab>

   
  <mat-tab *ngFor="let item of subTabList"
    [label]="'HEPSUB:' + item.title">
    
    <ngx-json-viewer [json]="jsonData" [expanded]="true"></ngx-json-viewer>
  </mat-tab>


  <mat-tab label="Loki">
    <app-loki-results
      [id]="id"
      [dataItem]="dataItem"
    ></app-loki-results>
  </mat-tab>


</mat-tab-group>
