.chack-list {
	margin-right: 1.3rem;
}
.title {
	margin: -1.5rem -1.5rem 2rem -1.5rem;
	width: initial !important;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	//font-weight: 400;
	letter-spacing: 1px;
}
.example-container {
	display: flex;
	flex-direction: column;
	& > * {
		width: 100%;
	}
}
.hide {
	display: none !important;
}

::ng-deep .mat-mdc-input-element:disabled {
    color: black;
}
/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
::ng-deep .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
    background-image: unset;    
    background-color: rgba(0,0,0,.42);
}