<form role=form> 
        <div class=form-group>
        <label for=widgetTitle>Title</label>
                <input type=text class=form-control id=widgetTitle ng-model="$parent.model.title" placeholder="Enter title" required>
        </div>
</form>
<form id='example' name='example'>
    <button ng-click="addField()" class="btn btn-warning">Add Form Field</button>
    <label style="float:right;">Search Button: <input type="checkbox" ng-model="config.searchbutton"/></label>
    <p/>
    <div ng-repeat="field in config.fields">
      <div field-display="field.selection" field-name="field.name" field-headers="headers" style="float:left;"></div>
      <i class="fa fa-ban" ng-click="removeField($index);" style="float:left;margin-right:10px;margin-top:3px;"></i>
	<!--      <button type="button" class="btn btn-normal" style="float:left;padding:0;margin-right: 5%;" ng-click="removeField($index);">X</button> -->
      <div style="clear:none;" ng-if="($index % 4)"/>
    </div>

    <p><br></p>
</form>
