<mat-toolbar class="title" color="primary">
  <div>Settings</div>
  <button mat-icon-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Timezone</mat-label>
    <mat-select [(value)]="data.desc">
      <mat-option *ngFor="let timeZone of arrayTimeZones" [value]="timeZone" (click)="onSelectTimeZone(timeZone)">
        {{timeZone}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Clock type</mat-label>
    <mat-select [(value)]="data.showAnalog">
      <mat-option *ngFor="let clockType of arrayClockType" [value]="clockType" (click)="onChange">
        {{clockType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Time font size</mat-label>
    <input type="number" autocomplete="off" matInput [(ngModel)]="data.fontSizeClock">
  </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Date font size</mat-label>
    <input type="number" autocomplete="off" matInput [(ngModel)]="data.fontSizeDate">
  </mat-form-field>
</div>
<mat-checkbox [(ngModel)]="data.showDate" labelPosition="Before" (click)="onChange()">Show Date</mat-checkbox>
<div mat-dialog-actions style="float: right; margin-bottom: 0rem;">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>