<mat-toolbar class="dialog-title" color="primary">
  <div>{{'LINK.settings' | translate}}</div>
  <button mat-icon-button (click)="onNoClick()">
    <fa-icon icon="times"></fa-icon>
  </button>
</mat-toolbar>

<div mat-dialog-content>
  <div class="example-container">
    <mat-form-field>
      <mat-label>{{ 'widgets.smartInput.settings.title' | translate }}</mat-label>
      <input matInput [(ngModel)]="resultConfig.title" (keydown)="onChange()" (ngModelChange)='validate($event)'>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Proto</mat-label>
      <mat-select
          [compareWith]="compareProto"
          [(ngModel)]="proto"
          (valueChange)="onChange()"
          (selectionChange)="onChange()"
        name="hep_alias"
        ngDefaultControl>
        <mat-option *ngFor="let protoItem of mappingSortedData" [value]="protoItem">
          {{protoItem.hep_alias}} - {{protoItem.profile}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions style="float: right; margin-bottom: 0rem;">
  <button mat-raised-button class="clear-btn" (click)="onNoClick()">{{'LINK.buttons.cancel' | translate}}</button>
  <button mat-raised-button class="search-btn" [mat-dialog-close]="resultConfig" cdkFocusInitial [disabled]='isInvalid'>{{'LINK.buttons.save' | translate}}</button>
</div> 