:host {
  min-height: 500px;
}

.chack-list {
  margin-right: 1.3rem;
}

.title {
  width: initial !important;
  display: flex;
  justify-content: space-between;
}

.example-container-smart {
display:flex;
  padding: 8px;
  padding-top: 0px;
  width:100%;

  &>* {
    font-size: 10px;

    line-height: 14px;

  }
}

// .example-container {
//   display: grid;
//   grid-template-columns: 100%;
//   padding: 10px;

//   &>* {
//       font-size: 13px;
//       line-height: 13px;
//       width: calc(100% - 5px);
//   }
// }
.smartContainer {
  width: 100%;
}

.hide {
  display: none !important;
}

.proto-buttons {
  padding: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;

  &>button {
    margin: 7px;
    font-size: .65em;
    text-transform: uppercase;
    letter-spacing: 1px;
    //color: #3f3f3f;

  }

}

.info-label {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;
  color: #999;
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  z-index: -1;
}

.search-btn {
  color: white;
}

.clear-btn {
  color: #8a8a8a;
}

.limit-selector {
  //	margin-bottom:6px;
  margin-left: 6px;

  color: grey;
  line-height: 26px;
  font-size: 10px;
  width: 100%;
  display:inline-flex;
  margin:0px 3px;

  &.query {
    // width: 65px
    width: 100%;
  }
}
.target-selector {
  color: grey;
  line-height: 26px;
  font-size: 10px;
  width: 100%;
  display:inline-flex;
  margin:0px 3px;
min-width: 160px;
}

.description-label {
  display: flex;
  align-items: center;
  pointer-events: all;


.description-text {
  transition:.3s all;
 display: flex;
  color: #b0b0b0;
  font-weight: bold;
  margin-left: 5px;
 // display:none;
  opacity:0;
}
}
.description-label:hover >.description-text {
//  display:flex;
opacity:1;
}

.inputs-container {
    display:flex
}

.smart-action-buttons {
  display:flex;
  align-items: center;
  justify-content: space-between;

  & button{
    font-size:12px;
    height:28px;
    display:flex;
    align-items: center;
    border-radius: 3px;
    margin:3px;
  }
}
.proto-selector {
  width:160px;
  margin:0px 3px;
}
.query-input {
  flex:1;
  margin:0px 3px;
}
.mdc-form-field>label {
    margin-bottom: 0 !important;
}
