.actions-container {
    max-width: 124px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .editBtn {
      background: none;
      padding: 6px 12px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      transition: .3s all;

      & fa-icon {
        color: rgb(186, 186, 186);
        font-size: 16px;
        transition: .2s all;
      }

      &:hover {
        background: #26bfbc22;

        & fa-icon {
          color: #26bfbc;
        }
      }
    }

    .copyBtn {
      background: none;
      padding: 6px 12px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      transition: .3s all;

      & fa-icon {
        color: rgb(186, 186, 186);
        transition: .2s all;
        font-size: 16px;
      }

      &:hover {
        background: #10c1cf22;

        & fa-icon {
          color: #10c1cf;
        }
      }
    }

    .eraseBtn {
      background: none;
      padding: 6px 12px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      transition: .3s all;

      & fa-icon {
        color: rgb(186, 186, 186);
        transition: .2s all;
        font-size: 16px;

      }

      &:hover {
        background: #e6513722;

        & fa-icon {
          color: #e65137;
        }
      }
    }

    .resetBtn {
      background: none;
      padding: 6px 12px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      transition: .3s all;

      & fa-icon {
        color: rgb(186, 186, 186);
        transition: .2s all;
        font-size: 16px;

      }

      &:hover {
        background: #ff8c1122;

        & fa-icon {
          color: #ff8c11;
        }
      }
    }

td.mat-cell {
    padding-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    }
