<form role=form> 
        <div class=form-group>
        <label for=widgetTitle>Title</label>
                <input type=text class=form-control id=widgetTitle ng-model="$parent.model.title" placeholder="Enter title" required>
        </div>
</form>
<form role="form">
  <div class="form-group">
    <label for="location">IP/AS</label>
    <input type="location" class="form-control" id="location" ng-model="config.location" placeholder="Enter IP or AS">
  </div>
  <div class="form-group">
    <label for="location">Results Count</label>
    <input type="rscount" class="form-control" id="rscount" ng-model="config.rscount" placeholder="5">
  </div>
</form>
