<form *ngIf="isConfig">
    <div class="example-container" [ngStyle]="{'grid-template-columns': getFieldColumns()}">
        <div *ngFor="let item of fields" style="display: block" >
            <mat-form-field style="display: block" *ngIf="item.field_name !== 'loki'">
                <mat-label>{{item.selection}}</mat-label>
                
                <input matInput 
                    *ngIf="'targetResultsContainer' !== item.field_name && item.form_default === null"
                    [(ngModel)]="item.value"
                    [ngModelOptions]="{standalone: true}"
                    (change)="onChangeField($event)"
                    (keydown.enter)="handleEnterKeyPress($event)"
                >
                <input matInput 
                    *ngIf="'targetResultsContainer' !== item.field_name && item.form_default !== null"
                    [(ngModel)]="item.value"
                    [ngModelOptions]="{standalone: true}"
                    (change)="onChangeField($event)"
                    (keydown.enter)="handleEnterKeyPress($event)"
                    [matAutocomplete]="form_default"
                >
                <mat-autocomplete #form_default="matAutocomplete">
                    <mat-option *ngFor="let option of item.form_default" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>

                <mat-select
                    *ngIf="item.field_name === 'targetResultsContainer'"
                    [formControl]="targetResultsContainerValue"
                    [compareWith]="compareResultListItem"
                    (selectionChange)="onChangeField($event)"
                    name="hep_alias"
                    ngDefaultControl>
                    <mat-option *ngFor="let listItem of widgetResultList" [value]="listItem">
                        {{listItem.type === 'widget' ? 'widget: ' : ''}} {{listItem.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <app-code-style-field
            style="display: block"
                [queryText]="lokiQueryText"
                (updateData)="onLokiCodeData($event)"
                *ngIf="item.field_name === 'loki'"
            ></app-code-style-field>
        </div>
    </div>
    <div style="float: right;" [className]="buttonState ? 'show' : 'hide'">
        <button mat-raised-button (click)="onClearFields()">Clear</button>
        <button mat-raised-button color="primary" (click)="doSearchResult()">Search</button>
    </div>
</form>

<div *ngIf="!isConfig">
    <button mat-raised-button color="primary" (click)="openDialog()">
        <mat-icon>settings</mat-icon> Widget Settings
    </button>
</div>