.chack-list {
	margin-right: 1.3rem;
}

.title {
	margin: -1.5rem -1.5rem 2rem -1.5rem;
	width: initial !important;
	display: flex;
	justify-content: space-between;
}

.example-container-setting {
	display: flex;
	flex-direction: column;

	&>* {
		width: 100%;
		font-size: 13px;
	}

	.example-list .pos-sticky {
		position: sticky;
		top: 0;
	}
}

.action-buttons-setting {
	padding: 5px;
	position: relative;
	padding-top: 8px;
	bottom: 0px;
	right: 0px;
	display: flex;
	justify-content: flex-end;
	background: rgba(255, 255, 255, 0);
	background: -moz-linear-gradient(top,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 38%,
			rgba(255, 255, 255, 1) 72%);
	background: -webkit-gradient(left top,
			left bottom,
			color-stop(0%, rgba(255, 255, 255, 0)),
			color-stop(38%, rgba(255, 255, 255, 1)),
			color-stop(72%, rgba(255, 255, 255, 1)));
	background: -webkit-linear-gradient(top,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 38%,
			rgba(255, 255, 255, 1) 72%);
	background: -o-linear-gradient(top,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 38%,
			rgba(255, 255, 255, 1) 72%);
	background: -ms-linear-gradient(top,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 38%,
			rgba(255, 255, 255, 1) 72%);
	background: linear-gradient(to bottom,
			rgba(255, 255, 255, 0) 0%,
			rgba(255, 255, 255, 1) 38%,
			rgba(255, 255, 255, 1) 72%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
	width: 100%;

	&>button {
		margin: 7px;
		font-size: 0.65em;

		letter-spacing: 1px;
		color: #3f3f3f;

	}

	.search-btn {
		background: #009cbf;
		color: white;

		line-height: 32px;
		font-size: 13px;
		margin-left: 10px;
	}

	.clear-btn {
		background-color: #fafafa;
		color: rgb(129, 129, 129);
		border: 1px solid #d6d6d6;
		font-size: 13px;
		line-height: 32px;

		margin-left: 10px;
	}
}