<div class="text-center">
  <div class="alert alert-info" ng-if="!data">
    Please insert an IP/AS the widget configuration
  </div>
  <div class="ripewhois" ng-if="data">
    	<h3>
	WHOIS 
	<center>
	  <input type="location" class="form-control" id="location" ng-model="config.location" placeholder="Enter IP or AS" style="font-size:16pt;border:0px;width:50%;text-align:center;">
	</center>
	</h3>
    <dl ng-repeat="irr in data.data.irr_records" style="margin-bottom:0px;">
      <dd ng-repeat="item in irr">{{item.key}}: {{item.value}}</dt>
    </dl>
<!--
    <dl ng-repeat="rec in data.data.records" style="margin-bottom:0px;">
      <dd ng-repeat="item in rec">{{item.key}}: {{item.value}}</dt>
    </dl>
-->
  </div>
</div>
