.chart-container {
	position: relative;
	height: calc(100% - 8.5rem);
	width: 100%;
	min-width: 500px;
	min-height: 400px;
	flex: 2;
}
.loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 9999999;
}
.nodata{
	height: 100%;

	.nodata-card{
		height: 100px;
		width: 350px;
		padding:25px;
		border-radius: 3px;
		position: absolute;
		top: calc(50% - 40px);
		left: calc(50% - 175px);
		color: white;
		font-weight: 400;  
 		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 		.text-container{
 			height: 50px;		
 			h1{
			text-align: center;
			vertical-align: baseline;
			margin-bottom: 5px;
			line-height: 26px;
			font-size: 26px;
			}
			p{
				
				text-align: center;
				vertical-align: baseline;
				margin: 0;
				line-height: 14px;
				font-size: 14px;
			}
 		}

	}
	
}
h5 {
	text-align: center;
	background-color: rgba(0,0,0,0.03);
}
.item-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	min-width: 600px;
	width: 600px;
}
.item {
	background-color: #673ab7;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.4rem;
	margin: 2px;
	flex: 0.5;
	min-width: 190px;
	border-radius: 4px;
	font-size: 0.8em;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	& > .text {
		color: #000;
	}
	& > .text-badge {
		margin: 0 0.3rem;
		padding: 0 5px;
		min-width: 30px;
		text-align: center;
		background-color: white;
		border-radius: 4px;
		font-weight: bold;
		color: #000;
		box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
	}
}
.hide-button {
	width: 149px;
	padding: 0;
	background: #eee;
	border: 0;
	border-radius: 4px;
	height: 20px;
	margin: 67px -62px 67px -60px;
	outline: none;
	cursor: pointer;
	font-size: .9em;
	&.rotate90deg {
		-moz-transform: rotate(-90.0deg);
		-o-transform: rotate(-90.0deg);
		-webkit-transform: rotate(-90.0deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);
		-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
		transform: rotate(-90.0deg);
	}
}
.labels {
	flex: 1;
	min-width: 650px;
}
.responcive {
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	justify-content: baseline;
}
.color-bable {
	min-width: 27px;
	min-height: 5px;
	padding-bottom: 8px;
	margin: 0 5px;
	display: inline-block;
	border-radius: 1rem;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
}
.color1 {
	background-color: rgba(255, 127, 127, 0.5);
}
.color2 {
	background-color: rgba(124, 249, 177, 0.5);
}
.color3 {
	background-color: rgba(0, 255, 255, 0.5);
}
.color4 {
	background-color: rgba(222, 184, 135, 0.5);
}
.color5 {
	background-color: rgba(100, 149, 237, 0.5);
}
.color6 {
	background-color: rgba(7, 136, 24, 0.5);
}
.color7 {
	background-color: rgba(30, 109, 124, 0.5);
}
.color8 {
	background-color: rgba(60, 194, 218, 0.5);
}
.color9 {
	background-color: rgba(255, 122, 122, 0.5);
}
.color10 {
	background-color: rgba(200, 180, 100, 0.5);
}
.cardStreem {
	margin: 0.3rem;
	min-width: 300px;
	flex: 0.3;
}
.error {
	margin: 2rem;
	padding: 1rem;
	background-color: lemonchiffon;
	color: red;
	display: flex;
	align-items: flex-end;
	box-shadow: 0 0 5px red;
}
