<div *ngIf="isConfig"
  class="alertWidget"
  [style.background-color]="this._config.alertState ? this._config.alertSuccessColor : this._config.alertFailColor">

  <p *ngIf="this._config.alertState"
    [style.color]="this._config.alertTextColor">
    {{ this._config.alertMessage }}</p>

  <pre *ngIf="displayMessage && this._config.showResponse"
    [style.color]="this._config.alertTextColor">
        {{ displayMessage }}</pre>
</div>
<div *ngIf="!isConfig">
  <button mat-raised-button
    color="primary"
    (click)="openDialog()">
    <mat-icon>settings</mat-icon> {{'LINK.buttons.widgetSettings' | translate}}
  </button>
</div>
