<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Request type</mat-label>
    <mat-select [(value)]="data.requestType">
      <mat-option *ngFor="let requestType of arrayRequestType" [value]="requestType" (click)="onChange">
        {{requestType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Alert URL</mat-label>
    <input matInput [(ngModel)]="data.alertUrl">
  </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Audio URL</mat-label>
    <input matInput [(ngModel)]="data.audioUrl">
  </mat-form-field>
  <button title="Test Audio" mat-icon-button (click)="testAudio()"><mat-icon>play_circle_filled</mat-icon></button>
</div>

<div mat-dialog-actions style="float: right; margin-bottom: 0rem;">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>