.map-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

.map-wrapper .map-container {
    flex: 1;
    height: 100%;
    width: 100%;
}
