::ng-deep .mat-mdc-dialog-container {
  padding:24px;
  padding-bottom:12px;
  .mat-mdc-dialog-actions {
    padding:0px;
    margin-top:3px;
  }
}
.chack-list {
  margin-right: 1.3rem;
}
.title {
	margin: -1.5rem -1.5rem 2rem -1.5rem;
	width: initial !important;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	//font-weight: 400;
	letter-spacing: 1px;
}
.example-container {
  display: flex;
  flex-direction: column;
  & > * {
    width: 100%;
  }
}
/*TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
/*TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
::ng-deep .mat-checkbox-label {
    min-width: 0 !important;
}
.hide {
  display: none !important;
}

.alias-img {
  margin-right: 15px;
  border-radius: 3px;
}
.mat-form {
  padding-right: 1rem;
}
.input-group {
  display:flex;
  justify-content: space-between;
  align-items:center;
  &.third {
    div {
      width: 31.33%;
    }
  }
  &.large {
    div {
      width: 34.33%;
    }
  }
  &.small {
    div {
      width: 14.33%;
    }
  }
  &.full-w {
    div {
      width: 100%;
    }
  }
  & div {
   width:23%;
    &.small-field {
      width: 13.33%
    }
    &.large-field {
      width: 32.33%
    }
  & mat-form-field {
    width:100%;
  }
  & mat-checkbox {
    display: flex;
    align-items: baseline;
    justify-content: center;

  }
  }
}
.check-inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.alias-settings {
  display: flex;
  justify-content: space-between;
}
.img-link {
  width: 100%;
}
.editor {
  min-height: 350px;
  padding: 5px;
}
.dialog-actions {
  float: right;
  margin-bottom: 0rem;
}
.input-copy-warning {
  color:red;
  font-weight: bold;
}
.copy-warning {
  padding:5px;
 background: #ff000022;
  color:red;
  width:100%;

}
.alias-preview {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background:#fafafa;
  padding:20px;
  margin:0;
  border-radius: 3px;
  border:1px solid lightgray;
  margin-bottom:15px;
  & .preview {
font-size: 12px;
    color:#bfbfbf;
  }
}
::ng-deep .mat-mdc-input-element:disabled {
    color: black;
}
/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
::ng-deep .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
    background-image: unset;
    background-color: rgba(0,0,0,.42);
}
