.loki-search {
	padding: 5px;
}
.loki-container {
	display: table;
	height: 100%;
	overflow-y: auto;
}
.loki-body {
	padding: 1rem;
	margin: 0.3rem;
	display: table-row;
	& > div {
		display: table-cell;
	}
}
mat-tab-group {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.header-loki {
	padding: 1rem;
	margin: 0.3rem;
	width: 100%;
	display: table-row;
	font-weight: bold;
	color: grey;
	& > div {
		display: table-cell;
	}
}
.item-header {
	color: #1d1d1d;
}
.item-tex-loki {
	word-break: break-word;
	font-size: 14px;
	color: #1d1d1d;
}

.hover {
	opacity: 1;
	&:hover {
		color: #5f5f5f;
	}
}
.switches {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	width: 400px;
	font-size: 14px;
	padding-top: 10px;
}
.swithces {
	p {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
}
.lokitimeheader {
	width: 180px !important;
	padding: 5px;
	color: grey;
}

.lokitime {
	width: 180px;
	padding: 5px;
	border-left: 5px solid #dff1ff;
	border-bottom: 5px solid transparent;
}

.lokitags {
	width: 160px;
	padding: 5px;
}

.lokimessage {
	padding: 5px;
	max-width: 60%;
}

.timeseconds {
	margin-top: 10px;
	color: #585858;
	opacity: 0.75;
	&:hover {
		opacity: 1;
	}
}
