<div style="display: flex;">
    <div style="flex: 1">
        <app-code-style-field
            [queryText]="queryText"
            (updateData)="onUpdateData($event)"
            (keyEnter)="doSerchResult()"
        ></app-code-style-field>
    </div>
    <div style="display: flex; align-items: center; padding: 0 0.5rem;">
        <button mat-raised-button (click)="doSerchResult()">Refresh search</button>
    </div>
</div>
<div>
    <div *ngIf="resultData.length === 0" class="content-body">
        <strong>Ready to Search Logs!</strong> Fine tune your query and hit Refresh
        <div *ngIf="!isFirstSearch">
            <i>[ No Result Found ]</i>
        </div>
    </div>
    
    <div *ngIf="resultData.length > 0" class="loki-search">
        <div class="header">
            <div class="item-text">Timestamp</div>
            <div class="item-text">Messages</div>
        </div>
        <div class="loki-container">
        <div *ngFor="let i of resultData; trackBy: identify" class="content-body item">
            <div class="item-text hover" matTooltip="Labels: { job: {{i.custom_2.job}}, method: {{i.custom_2.method}}, node: {{i.custom_2.node}}, response: {{i.custom_2.response}}, type: {{i.custom_2.type}} }" matTooltipClass="example-tooltip-red" matTooltipPosition="right">{{i.micro_ts}} </div>
            <div class="item-text loki-highlight" [innerHTML]="i.custom_1"></div>

        </div>

    </div>
 
</div>
</div>
