.loki-search {
	background: #fafafa;
	padding: 5px;
}
.loki-container {
	display: table;
	height: 100%;
	overflow-y: auto;
	
		&:nth-child(2n+1){
			background-color: #DFF1FF;
		}
		&:not(:nth-child(2n+1)){
			background-color:#EFF8FF;
		
	}
	
}
.loki-body {
	padding: 1rem;
	margin: 0.3rem;
	display: table-row;
	& > div {
		display: table-cell;
	}
}

.header-loki {
	padding: 1rem;
	margin: 0.3rem;
	width: 100%;
	display: table-row;
	font-weight: bold;
	& > div {
		display: table-cell;
	}
}
.item-header {

	color: #1d1d1d;
}
.item-tex-loki {
	word-break: break-word;
	
	font-size: 14px;
	color: #1d1d1d;
}

.hover {
	opacity: 1;
	&:hover {
		color: #5f5f5f;
	}
}
.switches {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	width: 400px;
	font-size: 14px;
	padding-top: 10px;
}
.swithces {
	p {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
}
.lokitime {
	width: 200px;
	padding: 5px;
}
.lokitags {
	width: 170px;
	padding: 5px;
}
.lokimessage {
	padding: 5px;
	max-width: 60%;
}
.timeseconds {
	margin-top: 10px;
	color: #585858;
	opacity: .75;
	&:hover {
		opacity: 1;
	}
}


