<div style="display: flex;">
    <div style="flex: 1">
        <app-code-style-field
            [queryText]="queryText"
            (updateData)="onUpdateData($event)"
            (keyEnter)="doSerchResult()"
        ></app-code-style-field>
    </div>
    <div style="display: flex; align-items: center; padding: 0 0.5rem;">
        <button mat-raised-button (click)="doSerchResult()">Refresh search</button>
    </div>
</div>
<div>
    <div *ngIf="resultData.length === 0" class="content-body">
        <strong>Ready to Search Logs!</strong> Fine tune your query and hit Refresh
        <div *ngIf="!isFirstSearch">
            <i>[ No Result Found ]</i>
        </div>
    </div>
    <div *ngIf="resultData.length > 0" >
        <div *ngFor="let i of resultData" class="content-body item">
            <span class="item-text">{{i.micro_ts}} </span>
            <span style="color: red" class="item-text"> {{i.custom_2}} </span><br/>
            <span class="item-text loki-highlight" [innerHTML]="i.custom_1"></span>
        </div>
    </div>
</div>
