.content-body {
    padding: 1rem;
    background-color: #ffffff;
    margin: 0.3rem;
    display:grid;
    border-bottom:1px solid lightgray;
    grid-template-columns: 1fr 7fr;
    grid-gap:5px;
}

.item {
    padding-bottom: 1rem;
    font-size: 0.8em;
}
.header{
    padding: 1rem;
    margin: 0.3rem;
    background:#fafafa;
    box-shadow: 1px 1px 5px -2px #000;
    display:grid;
    grid-template-columns: 1fr 6fr;
    grid-gap:5px;
   
}
.item-header{
    font-family:Menlo,Monaco,Consolas,Courier New,monospace;
    color:#1d1d1d;
}
.item-text {
    word-break: break-word;
    font-family:Menlo,Monaco,Consolas,Courier New,monospace;
    font-size:12px;
    color:#1d1d1d;
}
.example-tooltip-red {
    background: #2e2e2e;
    width:400px;
    font-family:Menlo,Monaco,Consolas,Courier New,monospace;
    font-size:12px;
    position:relative;
    right: 70%;
    top:35%;
    
  }
  .hover{
      cursor: pointer;
  }
  .hover:hover{
      color:#c21d1d;
  }
.loki-container{
    height:100%;
    overflow-y: auto;
}