<div class="container" (complete)="onFileComplete($event)">
  
<div class="files-container">
    <div class="upload-buttons">
        <button mat-button color="warn" (click)="onClick()" class="upload-button" [ngClass]="{lefthalf:etherframes.length > 0 }">
            <mat-icon>file_upload</mat-icon>
            {{text}}
        </button>
        <button *ngIf="etherframes.length > 0" mat-button color="danger" (click)="sendHep()" class="upload-button send">
            {{send_text}} <mat-icon>keyboard_arrow_right</mat-icon>
           
        </button>
    </div>
    <div class="endpoint">
        <p>HEP Websocket url: </p>
       <code (click)="openDialog()">{{ws}}</code> 
    </div>
    <br/>
    <ul class="file-uploads">
        <p *ngIf="files.length > 0" class="files-title">{{files.length}} Uploaded</p>
        <li *ngFor="let file of files" >
              <mat-progress-bar mode="determinate" [value]="file.progress"></mat-progress-bar>
              <div class="file-options" id="file-label">
                
                    <p style="color: grey; letter-spacing:1px; font-size:10px;">{{file.data.name}} </p>
              
              </div>
              
        </li>
    </ul>
    <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" 
    
    accept="{{accept}}" style="display:none;"/>
</div>
<div *ngIf="filesLog.files.length > 0" class="log">
    <h2>File log</h2>
    <div class="log-data">
    <p>Frames: {{filesLog.frames}}</p> <p *ngIf="filesLog.hosts.length > 0"> -- Hosts: {{filesLog.hosts}}</p>
    <p>Total: {{filesLog.total}} success: {{filesLog.success}} error: {{filesLog.error}}</p>
    </div>
    <div class="log-messages" *ngFor="let file of filesLog.files">
      <div class="file-name">
        <p><strong>{{file.filename}}</strong></p> 
        <strong *ngIf="file.message === 'error'" class="col-warning">{{file.message}}</strong>
        <strong *ngIf="file.message === 'success'" class="col-success">{{file.message}}</strong>
      </div>  
        <p><strong>File size:</strong> {{file.fileSize}}  
        </div>
    </div>
</div>