<div class="modal-header">
  <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Edit Profile</h4>
</div>
<div class="modal-body">
  <form role="form" name="myForm">
    <div class="form-group">
      <label for="profileUsername">Username</label>
      <input type="text" ng-readonly="true" class="form-control" id="profileUsername" ng-model="profile.username" required="">
    </div>

    <div class="form-group">
      <label for="profileGroup">Group</label>
      <input type="text" ng-readonly="true" class="form-control" id="profileGrp" ng-model="profile.grp" required="">
    </div>
    
    <div class="form-group">
      <label for="profilePassword">password</label>
      <input type="password" class="form-control" id="profilePassword" name="profilePassword" ng-model="profile.password" ng-required />
    </div>

    <div class="form-group">
      <label for="profilePassword">Repeat password</label>
      <input type="password" class="form-control" id="profilePassword2" name="profilePassword2" ng-model="profile.password2" ng-required pw-check="profilePassword" />
    </div>
    
    <div class="msg-block" ng-show="myForm.$error"> 
		<span class="msg-error" ng-show="myForm.profilePassword2.$error.pwmatch">
			    Passwords don't match.
		</span>
    </div>

    <div class="form-group">
      <label for="profileFirstname">First name</label>
      <input type="text" class="form-control" id="profileFirstname" ng-model="profile.firstname" required="">
    </div>

    <div class="form-group">
      <label for="profileLastname">Last name</label>
      <input type="text" class="form-control" id="profileLastname" ng-model="profile.lastname" required="">
    </div>

    <div class="form-group">
      <label for="profileEmail">Email</label>
      <input type="text" class="form-control" id="profileEmail" ng-model="profile.email" required="">
    </div>

    <div class="form-group">
      <label for="profileDepartment">Department</label>
      <input type="text" class="form-control" id="profileDepartment" ng-model="profile.department" required="">
    </div>

   </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="saveProfile()">Save</button>
  <button type="button" class="btn btn-primary" ng-click="closeDialog()">Close</button>
</div>