<script type="text/ng-template" id="reports_renderer.html">
  <div nodrag>
    
    <a ng-class="{{ report.msg.QualityEst.MOSCQ > 3 }} ? 'btn btn-success btn-xs' : 'btn btn-warning btn-xs'" nodrag ng-click="toggleTree(report.id)">
	{{ report.msg.QualityEst.MOSCQ ? report.msg.QualityEst.MOSCQ : '' }}
    <span class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': !collapsed[report.id],
          'glyphicon-chevron-down': collapsed[report.id]
        }"></span></a>
    {{report.date}}: [{{report.correlation_id}}]
  </div>
  <ol ng-model="report.msg" ng-class="{hidden: !collapsed[report.id]}" nodrag>
    <li ng-repeat="(property, value) in report.msg">
      <div class="tree-report tree-report-content" nodrag> {{property}}:{{value}}</div>
	  <ol  ng-model="value" nodrag>
		<li ng-repeat="(p, v) in value">{{p}}: {{v}}</li>
	  </ol>                 
    </li>
  </ol>
</script>

<script type="text/ng-template" id="logs_renderer.html">

  <div nodrag>
    <a class="btn btn-success btn-xs" nodrag ng-click="toggleTree(log.id)">
    <span class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': !collapsed[log.id],
          'glyphicon-chevron-down': collapsed[log.id]
        }"></span></a>
    {{log.date}}: [{{log.correlation_id}}]
  </div>
  <ol ng-model="log.msg" ng-class="{hidden: collapsed[log.id]}" nodrag>
        {{log.msg}}
  </ol>
</script>


<div class="modal-header homer-modal-header" style="border-bottom:0;" >
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()" style="margin-right:4px;">&times;</button>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="expandModal(this.id)" style="margin-right:8px;"><i style="font-size: 15px;" class="fa fa-expand"></i></button>

        	<h4 class="modal-title" style="font-size:15px;margin-left:4px;margin-bottom:10px;"><i class="fa fa-phone" style="margin-right:5px;">
			</i> Call-ID: <i> {{msgCallId}} </i>
		</h4> 
</div>
<div ng-show="dataLoading">
	<div id="loadingWidget" class="row-fluid ui-corner-all" style="padding: 0 .7em;">
		<i class="fa fa-asterisk fa-spin"></i>
        	<div class="loadingContent"><p><img alt="Loading  Content" src="img/ajax-loader.gif" /> Loading</p></div>
        </div>
</div>

<div class="modal-body homer-modal-body">
<div class="modal-body-buttons">

	<uib-tabset>
	     <uib-tab>
	     <uib-tab-heading><i class="fa fa-exchange"></i> Call-Flow </uib-tab-heading>	     	     
	      <canvas id="cflowcanv" class="cflow" canvasclick style="left:15px;"></canvas>
	     </uib-tab>
	     <uib-tab select="refreshChart()"  ng-show="enableQualityReport|| enableXRTPReport || enableRTCPReport">             
		     <!-- hack for highcharts render in div size -->
	 	     <uib-tab-heading><i class="glyphicon glyphicon-transfer"></i> QoS Reports </uib-tab-heading>

				<div id="no-reports" ng-hide="enableQualityReport|| enableXRTPReport || enableRTCPReport" class="alert alert-warning alert-dismissible" role="alert">
					 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>Oops!</strong> No Reports available for this session
				</div>

                                <div id="xrtp-root" ng-if="enableXRTPReport">
                                              <!--  <p>X-RTP:</p> -->

                                  	<div class="container grey-bg">                  
                                  	  <div class="row">

	                                        <div class="col-md-12">
	                                            <div class="row padding-top" ng-repeat="report in xrtpreport"> <p class="XS-text">UA Reporter: {{report.source}}</p>
	                                                <div ng-repeat="(property, value) in report.report" class="col-md-1 white-bg xrtp-block">
	                                                    <p class="S-text">{{ XRTP2value(property) }}</p>
	                                                    <p class="XS-text" id="call-duration">{{value}}</p>
	                                                </div>
	                                            </div>
						</div>

						<div style="clear:both;"/>

						<!--
                                                <ol ng-model="xrtpreport">
                                                    <li ng-repeat="report in xrtpreport">
                                                        <div>
                                                            <a class="btn btn-success btn-xs" nodrag ng-click="toggleTree(report.id)">
                                                                <span class="glyphicon" ng-class="{'glyphicon-chevron-right': !collapsed[report.id], 'glyphicon-chevron-down': collapsed[report.id]}"></span></a>
                                                            {{report.date}}: Call-ID: [{{report.callid}}] Method:[{{report.method}}]
                                                        </div>
                                                        <ol ng-model="report.report" ng-class="{hidden: !collapsed[report.id]}" nodrag>
                                                            Source IP: {{report.source}}
                                                            <li ng-repeat="(property, value) in report.report">{{property}}: {{value}}</li>
                                                        </ol>
                                                    </li>
                                                </ol>
						-->

        	                          </div>
	                                </div>
                                </div>
                                            
                                <div id="tree-root" ng-if="enableQualityReport">
                                                <p>Reports:</p>
                                                <ol ng-model="qualityreport">
                                                    <li ng-repeat="report in qualityreport" ng-include="'reports_renderer.html'"></li>
                                                </ol>
                                </div>

				<!-- new rtcp report start -->

                              	<div id="rtcp-root" ng-show="enableRTCPReport">

                                  <div class="container grey-bg">                  
                                    <div class="row">
                                        
					<!-- RTCP STATS -->
                                        <div class="col-md-5">
					    <!--
                                            <div class="row padding-top" ng-if="call_duration">
                                                <div class="col-md-6 white-bg duration center-text">
                                                    <p class="S-text">Call Duration</p>
                                                    <p class="L-text" id="call-duration">{{call_duration}}</p>
                                                </div>
                                                <div class="col-md-6 white-bg total-packets center-text">
                                                    <p class="S-text">Total Packets</p>
                                                    <p class="L-text" >{{calc_report.totalPackets}}</p>
                                                </div>
                                            </div>
					    -->

                                            <div class="row white-bg center-text" ng-if="calc_report.averageMos != 0">
                                                <div class="col-md-12">
							<div ng-show="collapsed" style="margin:8px 0 0 10px;float:left;" ><i class="fa fa-toggle-on"></i></div>
							<div ng-show="!collapsed" style="margin:8px 0 0 10px;float:left;" ><i class="fa fa-toggle-off"></i></div>
							<div class="row light-grey" style="padding-bottom:5px;margin-top:0px;" ng-model="collapsed" ng-click="collapsed=!collapsed"> RTCP Stats [ {{calc_report.totalPackets }} Packets ]</div>
						</div>
                                                <div class="col-md-4" ng-show="collapsed">
                                                    <div class="row light-orange">
                                                        <p>Avg. Packet Loss</p>
                                                        <p class="L-text">{{calc_report.averagePacketLost}}%</p>
                                                    </div>
                                                    <div class="row light-orange">
                                                        <p>Tot Packets Lost</p>
                                                        <p class="L-text">{{calc_report.maxPacketLost}}</p>
                                                    </div>
                                                </div>

                                                <div class="col-md-4" ng-show="collapsed">
                                                    <div class="row light-blue">
                                                        <p>Avg. Jitter (ms)</p>
                                                        <p class="L-text">{{calc_report.averageJitterMsec}}</p>
                                                    </div>
                                                    <div class="row light-blue">
                                                        <p>Max Jitter (ms)</p>
                                                        <p class="L-text">{{calc_report.maxJitterMsec}}</p>
                                                    </div>
                                                </div>

                                                <div class="col-md-4" ng-show="collapsed">
                                                    <div class="row light-green">
                                                        <p>Avg. MOS</p>
                                                        <p class="L-text">{{calc_report.averageMos}}</p>
                                                    </div>
                                                    <div class="row light-green">
                                                        <p>Min. MOS</p>
                                                        <p class="L-text">{{calc_report.worstMos}}</p>
                                                    </div>
                                                </div>
                                            </div>

					<!-- start rtpagent -->
                                            <div class="row white-bg center-text" ng-if="calc_rtpagent">
                                                <div class="col-md-12">
							<div ng-show="!xcollapsed" style="margin:8px 0 0 10px;float:left;" ><i class="fa fa-toggle-on"></i></div>
							<div ng-show="xcollapsed" style="margin:8px 0 0 10px;float:left;" ><i class="fa fa-toggle-off"></i></div>
							<div class="row light-grey" style="padding-bottom:5px;margin-top:0px;" ng-model="xcollapsed" ng-click="xcollapsed=!xcollapsed"> RTP Agent Stats [ {{ calc_rtpagent.packets_all }} Packets ]</div>
						</div>
                                                <div class="col-md-4" ng-show="!xcollapsed">
                                                    <div class="row light-orange">
                                                        <p>Avg. Packet Loss</p>
                                                        <p class="L-text">{{calc_rtpagent.lost_avg }}%</p>
                                                    </div>
                                                    <div class="row light-orange">
                                                        <p>Tot Packets Lost</p>
                                                        <p class="L-text">{{calc_rtpagent.packets_lost}}</p>
                                                    </div>
                                                </div>

                                                <div class="col-md-4" ng-show="!xcollapsed">
                                                    <div class="row light-blue">
                                                        <p>Avg. Jitter (ms)</p>
                                                        <p class="L-text">{{calc_rtpagent.jitter_avg}}</p>
                                                    </div>
                                                    <div class="row light-blue">
                                                        <p>Max Jitter (ms)</p>
                                                        <p class="L-text">{{calc_rtpagent.jitter_max}}</p>
                                                    </div>
                                                </div>

                                                <div class="col-md-4" ng-show="!xcollapsed">
                                                    <div class="row light-green">
                                                        <p>Avg. MOS</p>
                                                        <p class="L-text">{{calc_rtpagent.mos_average}}</p>
                                                    </div>
                                                    <div class="row light-green">
                                                        <p>Min. MOS</p>
                                                        <p class="L-text">{{calc_rtpagent.mos_worst}}</p>
                                                    </div>
                                                </div>
                                            </div>

					<!-- end rtpagent -->

					<!-- start xrtp -->
                                            <div class="row white-bg center-text" ng-if="calc_xrtp">
                                                <div class="col-md-12">
							<div ng-show="!xcollapsed" style="margin:8px 0 0 10px;float:left;" ><i class="fa fa-toggle-on"></i></div>
							<div ng-show="xcollapsed" style="margin:8px 0 0 10px;float:left;" ><i class="fa fa-toggle-off"></i></div>
							<div class="row light-grey" style="padding-bottom:5px;margin-top:0px;" ng-model="xcollapsed" ng-click="xcollapsed=!xcollapsed"> X-RTP Stats [ {{ calc_xrtp.packets_all }} Packets ]</div>
						</div>
                                                <div class="col-md-4" ng-show="!xcollapsed">
                                                    <div class="row light-orange">
                                                        <p>Avg. Packet Loss</p>
                                                        <p class="L-text">{{calc_xrtp.lost_avg }}%</p>
                                                    </div>
                                                    <div class="row light-orange">
                                                        <p>Tot Packets Lost</p>
                                                        <p class="L-text">{{calc_xrtp.packets_lost}}</p>
                                                    </div>
                                                </div>

                                                <div class="col-md-4" ng-show="!xcollapsed">
                                                    <div class="row light-blue">
                                                        <p>Avg. Jitter (ms)</p>
                                                        <p class="L-text">{{calc_xrtp.jitter_avg}}</p>
                                                    </div>
                                                    <div class="row light-blue">
                                                        <p>Max Jitter (ms)</p>
                                                        <p class="L-text">{{calc_xrtp.jitter_max}}</p>
                                                    </div>
                                                </div>

                                                <div class="col-md-4" ng-show="!xcollapsed">
                                                    <div class="row light-green">
                                                        <p>Avg. MOS</p>
                                                        <p class="L-text">{{calc_xrtp.mos_avg}}</p>
                                                    </div>
                                                    <div class="row light-green">
                                                        <p>Min. MOS</p>
                                                        <p class="L-text">{{calc_xrtp.mos_worst}}</p>
                                                    </div>
                                                </div>
                                            </div>

					<!-- end xrtp -->

                                            <div class="row white-bg" ng-show="{{mos.scale}}">
                                                <div class="col-md-12 MOS">
                                                    <p class="L-title">MOS<br/><span>(Quality rating)</span></p>
                                                    <div class="bar-chart">
                                                        <ul>
                                                            <li class="green-full"></li>
                                                            <li class="green-full"></li>
                                                            <li class="green-full"></li>
                                                            <li class="green-full"></li>
                                                            <li class="grey-full"></li>
                                                        </ul>
                                                        <p class="MOS-des green-text">Good</p>
                                                    </div>

                                                </div>
                                            </div>

					    <!-- RTCP LEGS -->
					    <div class="row white-bg center-text" ng-if="calc_calls" ng-repeat="item in calc_calls">
                                                <div class="col-md-12">
							<div style="margin:8px 0 0 10px;float:left;" ><i class="fa fa-rss"></i></div>
                                                        <div class="row light-grey" style="padding-bottom:5px;margin-top:0px;">SDP SESSION {{ $index +1 }}</div>
                                                </div>
					      <div ng-repeat="(key, value) in item.aparty.audio">
                                                <div class="col-md-6"  ng-show="item.aparty.audio['k'+$index]" >
                                                    <div class="row light-silver">
                                                        <p class="short-p">RTP-{{ $index +1}} AUDIO SRC:</p>
                                                        <p class="S-text short-p" >
                                                                {{ item.aparty.audio['k'+$index].ip }}:{{ item.aparty.audio['k'+$index].port }}
							</p>
                                                        	<div class="box-codec blue" ng-if="item.aparty.audio['k'+$index].dtmf">{{ item.aparty.audio['k'+$index].dtmf }}</div>
                                                        	<div class="box-codec green"  ng-if="item.aparty.audio['k'+$index].description == item.bparty.audio['k'+$index].description">{{ item.aparty.audio['k'+$index].description }}</div>
                                                        	<div class="box-codec orange" ng-if="item.aparty.audio['k'+$index].description != item.bparty.audio['k'+$index].description">{{ item.aparty.audio['k'+$index].description }}</div>
		                                                <div class="box-codec orange" ng-show="!item.bparty.audio['k'+$index]"><i class="fa fa-times"></i></div>
                                                                <div class="box-codec blue" ng-show="item.bparty.audio['k'+$index]"><i class="fa fa-arrow-right"></i></div>
                                                    </div>
                                                </div>
                                                
                                                <!-- MISSING BPARTY -->
                                                <div class="col-md-6" ng-show="item.aparty.audio['k'+$index] && !item.bparty.audio['k'+$index]" style="padding: 5% 0;">
                                                    <div class="row" style="padding: 5% 0;">
                                                        <p class="short-p">
                                                                <i class="fa fa-times"></i>
                                                                NO RESPONSE
                                                        </p>
                                                    </div>
                                                </div><div style="clear:both;" ng-show="!item.bparty.audio['k'+$index]"></div>

                                                <div class="col-md-6" ng-show="item.bparty.audio['k'+$index]" >
                                                    <div class="row light-silver">
                                                        <p class="short-p">RTP-{{ $index +1}} AUDIO DST:</p>
                                                        <p class="S-text short-p" >
                                                                {{ item.bparty.audio['k'+$index].ip }}:{{ item.bparty.audio['k'+$index].port }}
							</p>
		                                                <div class="box-codec blue" ><i class="fa fa-arrow-left"></i></div>
                                                        	<div class="box-codec blue" ng-if="item.aparty.audio['k'+$index].dtmf">{{ item.bparty.audio['k'+$index].dtmf }}</div>
                                                        	<div class="box-codec green">{{ item.bparty.audio['k'+$index].description }}</div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6"  ng-show="item.aparty.video.k$index" >
                                                    <div class="row light-blue">
                                                        <p class="short-p">RTP-{{ $index +1}} VIDEO SRC:</p>
                                                        <p class="S-text short-p" >
                                                                {{ item.aparty.video['k'+$index].ip }}:{{ item.aparty.video['k'+$index].port }}
							</p>
                                                        	<div class="box-codec green"  ng-if="item.aparty.video['k'+$index].description == item.bparty.video['k'+$index].description">{{ item.aparty.video['k'+$index].description }}</div>
                                                        	<div class="box-codec orange" ng-if="item.aparty.video['k'+$index].description != item.bparty.video['k'+$index].description">{{ item.aparty.video['k'+$index].description }}</div>
                                                        	<div class="box-codec orange" ng-show="!item.bparty.video['k'+$index]"><i class="fa fa-times"></i></div>
                                                                <div class="box-codec blue" ng-show="item.bparty.video['k'+$index]"><i class="fa fa-arrow-right"></i></div>
                                                    </div>
                                                </div>
                                                
                                                <!-- MISSING BPARTY -->
                                                <div class="col-md-6" ng-show="item.aparty.video['k'+$index] && !item.bparty.video['k'+$index]" style="padding: 5% 0;">
                                                    <div class="row" style="padding: 5% 0;">
                                                        <p class="short-p">
                                                                <i class="fa fa-times"></i>
                                                                NO RESPONSE
                                                        </p>
                                                    </div>
                                                </div><div style="clear:both;" ng-show="!item.bparty.video['k'+$index]"></div>
                                                
                                                <div class="col-md-6"  ng-show="item.bparty.video.k$index" >
                                                    <div class="row light-green">
                                                        <p class="short-p">RTP-{{ $index +1}} VIDEO DST:</p>
                                                        <p class="S-text short-p" >
                                                                {{ item.bparty.video['k'+$index].ip }}:{{ item.bparty.video['k'+$index].port }}
							</p>
                                                        	<div class="box-codec green">{{ item.bparty.video['k'+$index].description }}</div>
                                                    </div>
                                                </div>

                                              </div> <!-- endloop -->

					    </div>

                                        </div>
					<!-- END REPORT -->

				<!-- second column -->

					<!-- START DETAILS -->
					<div class="col-md-7">
                                            <div id="no-qos-reports" ng-hide="enableQOSChart" class="row row white-bg center-text chart-general">
                                                        <div style="margin:8px 0 0 10px;float:left;" ><i class="fa fa-chain-broken"></i></div>
                                                        <div class="row light-grey" style="padding-bottom:5px;margin-top:0px;">Sorry! No Statistics Available!</div>
                                            </div>
                                            <div class="row row white-bg center-text chart-general" ng-show="enableQOSChart">
                                                <div class="col-md-12">
							<div style="margin:8px 0 0 10px;float:left;" ><i class="fa fa-navicon"></i></div>
							<div class="row light-grey" style="padding-bottom:5px;margin-top:0px;"> QoS Metrics Chart</div>
						</div>

                                                <div class="col-md-12 chart-wrap"> <!-- col-md-9 -->
                                                    <!--<input type="button" value="Show all" ng-click="resetRtcpData();">-->
                                                    <div class="col" id="rtcpchart-container" style="float:left;width:95%;">
		                                      <div ng-if="chartConfig">
								<highchart id="chart1" class="highcharts-container" config="chartConfig"></highchart>								      
	   					     </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                          <!--  <div id="rtcpTimePicker">
                                                                <input type="text" disabled="disabled" size="60"  >
                                                                <br/>
                                                                <input type="text" id="endRTCPDataInput"  disabled="disabled" size="60" >
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>

						<div style="clear:both;"></div>

                                                <div class="col-md-12 streams" style="text-align:left;">
                                                    <ol ng-model="streamsChart" style="display:flex;" >
                                                        <li ng-repeat="(skey, stream) in streamsChart"  style="list-style-type:none; margin-left: 10px;">
                                                            <label style="cursor: pointer; width:auto;">
									<i class="fa fa-toggle-on" ng-show="stream.enable"></i>
									<i class="fa fa-toggle-off" ng-show="!stream.enable"></i> 
									{{stream.type}} <br/>
                                                                <input type="checkbox" ng-model="stream.enable" ng-change="addRemoveStreamSerie(skey, 1)">{{stream.short_name}}
                                                            </label>                  
							    <!-- <p ng-repeat="(p,v) in stream.sub"> -->                                                                                                     
							    <p style="margin-left:10px;" ng-show="stream.enable">                                                                                                      
                                                            	<label style="cursor: pointer; width:auto;" ng-repeat="(p,v) in stream.sub">
	                                                                <input type="checkbox" ng-model="v.enable" ng-change="addRemoveStreamSerie(skey, 0)"><font class="box-metrics" style="background:{{v.color}};" color="{{v.color}}">{{p}}</font>
        	                                                </label>
        	                                             </p>
                                                        </li>
                                                    </ol>
                                                   <!--  <input type="button" ng-click="resetData()" value="Reset" /> -->
                                                </div>

                                            </div>

                                	</div> 

        				<!-- new rtcp report end -->

                                        </div>
					<!-- END DETAILS -->

	                  


                                    </div>
                                </div>
	
		       </uib-tab>	     									
	     <uib-tab ng-show="enableLogReport">
	     <uib-tab-heading><i class="fa fa-file-text-o"></i> Logs </uib-tab-heading>	     	     
			<div id="no-reports" ng-hide="enableLogReport" class="alert alert-warning alert-dismissible" role="alert">
				 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <strong>Oops!</strong> No Logs available for this session
			</div>
			<div id="log-root" ng-if="enableLogReport" class="jumbotron" style="background-color:transparent;padding:8px;margin:5px;">				
				
				<p>SysLog from {{ logreport[0].source_ip }}:{{logreport[0].source_port}}</p>
				  <div class="form-group">
					<input type="text" ng-model="logsearch" class="form-control" placeholder="Filter Logs" style="margin-left:15px;width:98%;border-radius: 5px !important;" />
				  </div>
				</p>
				
					<div ng-repeat="log in logreport  | filter :{msg:logsearch}" >
						<!-- <div class="alert alert-info" role="alert" style="margin-bottom:5px;">{{log.msg}}</div> -->
						<div ng-class-odd="(log.msg.indexOf('Authentication') > -1 ? 'alert alert-danger' : 'alert alert-success')" ng-class-even="(log.msg.indexOf('Authentication') > -1 ? 'alert alert-danger' : 'alert alert-info')" role="alert" style="margin-bottom:5px;">{{log.msg}}</div>
					</div>
				<!--	
					<ol ng-model="logreport">
						<li ng-repeat="log in logreport" ng-include="'logs_renderer.html'"></li>
					</ol>
	   			-->
			</div>				

	     </uib-tab>
	     
	     <uib-tab ng-show="enableRemoteLogReport">
	     <uib-tab-heading><i class="fa fa-file-text-o"></i>Remote Logs </uib-tab-heading>	     	     
			<div id="no-reports" ng-hide="enableRemoteLogReport" class="alert alert-warning alert-dismissible" role="alert">
				 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <strong>Oops!</strong> No Logs available for this session
			</div>
			<div id="log-root" ng-if="enableRemoteLogReport" class="jumbotron" style="background-color:transparent;padding:8px;margin:5px;">				
				
				<p>Elasticsearch Result from {{ remotelogreport[0].source_ip }}:{{remotelogreport[0].source_port}}</p>
				  <div class="form-group">
					<input type="text" ng-model="remotelogsearch" class="form-control" placeholder="Filter Logs" style="margin-left:15px;width:98%;border-radius: 5px !important;" />
				  </div>
				</p>
				
					<div ng-repeat="log in remotelogreport  | filter :{msg:remotelogsearch}" >
						<!-- <div class="alert alert-info" role="alert" style="margin-bottom:5px;">{{log.msg}}</div> -->
						<div ng-class-odd="(log.msg.indexOf('Authentication') > -1 ? 'alert alert-danger' : 'alert alert-success')" ng-class-even="(log.msg.indexOf('Authentication') > -1 ? 'alert alert-danger' : 'alert alert-info')" role="alert" style="margin-bottom:5px;">{{log}}</div>
					</div>
				<!--	
					<ol ng-model="logreport">
						<li ng-repeat="log in logreport" ng-include="'logs_renderer.html'"></li>
					</ol>
	   			-->
			</div>				

	     </uib-tab>

	     <uib-tab ng-show="enableRtcReport">
	     <uib-tab-heading><i class="fa fa-exchange"></i> WSS/RTC </uib-tab-heading>	     	     
			<div id="no-reports" ng-hide="enableRtcReport" class="alert alert-warning alert-dismissible" role="alert">
				 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <strong>Oops!</strong> No RTC available for this session
			</div>
			<div id="rtc-root" ng-if="enableRtcReport" class="jumbotron" style="background-color:transparent;padding:8px;margin:5px;">				
				
				<p>RTC Session from {{ rtcreport[0].source_ip }}:{{rtcreport[0].source_port}}</p>
				  <div class="form-group">
					<input type="text" ng-model="rtcsearch" class="form-control" placeholder="Filter Data" style="margin-left:15px;width:98%;border-radius: 5px !important;" />
				  </div>
				</p>
				
				<!-- mermaid placeholder -->

					<div ng-repeat="rtc in rtcreport  | filter :{msg:rtcsearch}" >
						<!-- <div class="alert alert-info" role="alert" style="margin-bottom:5px;">{{rtc.msg}}</div> -->
						<div ng-class-odd="(rtc.msg.indexOf('Authentication') > -1 ? 'alert alert-danger' : 'alert alert-success')" ng-class-even="(rtc.msg.indexOf('Authentication') > -1 ? 'alert alert-danger' : 'alert alert-info')" role="alert" style="margin-bottom:5px;">{{rtc.msg}}</div>
					</div>
				<!--	
					<ol ng-model="rtcreport">
						<li ng-repeat="rtc in rtcreport" ng-include="'rtc_renderer.html'"></li>
					</ol>
	   			-->
			</div>				

	     </uib-tab>

	     <uib-tab>
	     <uib-tab-heading><i class="fa fa-cloud"></i> Export</uib-tab-heading>
                <div style="margin:15px;">
                        <button class="btn btn-normal btn-info" ng-click="exportPCAP()" data-placement="top-right" style="margin-top:18px;;margin-left:8px;width:18%;"><i class="fa fa-cloud-download"></i><br>
                                <i class="fa" ng-class="{'fa-cog fa-spin': isPcapBusy, '': !isPcapBusy}"></i>
                                <span> Export PCAP</span>
                        </button>
                        <button class="btn btn-normal btn-default" ng-click="exportTEXT()" data-placement="top-right" style="margin-top:18px;;margin-left:8px;width:18%;"><i class="fa fa-file-text-o"></i><br>
                                <i class="fa" ng-class="{'fa-cog fa-spin': isTextBusy, '': !isTextBusy}"></i>
                                <span>Export TEXT</span>
                        </button>
                        <button class="btn btn-normal btn-danger" ng-click="exportCanvas()" data-placement="top-right" style="margin-top:18px;margin-left:8px;width:18%;"><i class="fa fa-file-image-o"></i><br> Export PNG</button>
                        <button class="btn btn-normal btn-info" ng-click="exportCloud()" data-placement="top-right" style="margin-top:18px;;margin-left:8px;width:18%;"><i class="fa fa-cloud-upload"></i><br>
                                <i class="fa" ng-class="{'fa-cog fa-spin': isCloudBusy, '': !isCloudBusy}"></i>
                                <span>Share Cloud</span>
                        </button>

                        <!-- share link -->
                        <button class="btn btn-normal btn-warning" ng-hide="sharelink" ng-click="exportShare()" data-placement="top-right" style="margin-top:18px;;margin-left:8px;width:18%;">
                                <i class="fa fa-share-alt"></i><br>
                                Share Link
                        </button>
                        <a ng-if="sharelink" href="{{sharelink}}" target="_blank" class="btn btn-normal btn-warning" data-placement="top-right" style="margin-top:18px;margin-left:8px;width:18%;background-color:#f39c12;color:#ffffff;">
                                <i class="fa fa-share-alt fa-spin"></i><br>
                                Link Ready
                        </a>
                </div>
                        
             </uib-tab>
             
	     <uib-tab disable="true" ng-show="call_duration">
		     <uib-tab-heading><i class="fa fa-clock-o"></i> Session Duration: {{call_duration}}</uib-tab-heading>
	     </uib-tab>

	  </uib-tabset>
</div>

