<div access="admins" access-permission-type="AtLeastOne" class="row" ng-show="showtable" style="width:100%;float:right;">
      <div class="box-homer-admin">
	<uib-tabset>
	<uib-tab active="activeMainTab" disable="activeTab === false" select="tabShown = !tabShown" deselect="tabShown = !tabShown">
	<uib-tab-heading><i class="fa fa-users"> Local Users</i></uib-tab-heading>
               <div style="margin-top:8px;">
		 <div id="grid1" style="margin-left: 0px;width: 100%;" ng-if="activeMainTab" ui-grid="gridOptions" class="gridWidgetsStyle" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-auto-resize resize ></div>
               </div>
	</uib-tab>
	<uib-tab ng-if="activeMainTab === true" active="disabled" deselect="activeMainTab">
            <uib-tab-heading ng-click="newUser()"><a ng-click="newUser()" href=''> <i class="fa fa-plus"> Add User</i></a></uib-tab-heading>
        </uib-tab>

	<uib-tab ng-if="newTab" active="activeNewTab" >
	<uib-tab-heading><i class="fa fa-user"> New User</i>  &nbsp; <a ng-click="removeUserTab()" href=''><i class="fa fa-times"></i></a></uib-tab-heading>
		<div style="padding:15px;">
	 	<div role="alert">
		      <span class="error" ng-show="errorNewUserShow">{{errorNewUserForm}}</span>
		</div>
		<form name="newUserForm">
                        <div style="width:40%;float:left;" class="form-group input-group-lg">
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : newUserForm.username.$invalid && !newUserForm.username.$pristine }">
					<label>Username</label>
						<input type="text" name="username" class="form-control" ng-model="newuser.username" ng-minlength="3" ng-maxlength="12" required>
						<p ng-show="newUserForm.username.$error.minlength" class="help-block">Username is too short.</p>
						<p ng-show="newUserForm.username.$error.maxlength" class="help-block">Username is too long.</p>
					</div>
                                </p>
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : newUserForm.password1.$invalid && !newUserForm.password1.$pristine }">
					<label>Password</label>
						<input type="password" name="password1" class="form-control" ng-model="newuser.password1" ng-minlength="3" ng-maxlength="25"  compare-to="newuser.password2" required>
						<p ng-show="newUserForm.password1.$error.minlength" class="help-block">Password is too short.</p>
						<p ng-show="newUserForm.password1.$error.maxlength" class="help-block">Password is too long.</p>
						<p ng-show="newUserForm.password1.$error.errorCompareTo" class="help-block">Password is missmatch.</p>
					</div>
                                </p>
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : newUserForm.password2.$invalid && !newUserForm.password2.$pristine }">
					<label>Password</label>
						<input type="password" name="password2" class="form-control" ng-model="newuser.password2" ng-minlength="3" ng-maxlength="25" compare-to="newuser.password1" required>
						<p ng-show="newUserForm.password2.$error.minlength" class="help-block">Password is too short.</p>
						<p ng-show="newUserForm.password2.$error.maxlength" class="help-block">Password is too long.</p>
						<p ng-show="newUserForm.password2.$error.errorCompareTo" class="help-block">Password is missmatch.</p>
					</div>
                                </p>
                                <p>
                                        <label class="control-label" for="dashboardname">Firstname:</label>
                                        <input type="text" class="form-control" name="firstname" id="firstname" ng-model="newuser.firstname">
                                </p>
                                <p>
                                        <label class="control-label" for="dashboardname">Lastname:</label>
                                        <input type="text" class="form-control" name="lastname" id="lastname" ng-model="newuser.lastname">
                                </p>
			</div>
                        <div style="margin-left:8%;width:40%;float:left;" class="form-group input-group-lg">
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : newUserForm.email.$invalid && !newUserForm.email.$pristine }">
				            <label>Email</label>
				            <input type="email" name="email" class="form-control" ng-model="newuser.email" required>
				            <p ng-show="newUserForm.email.$invalid && !newUserForm.email.$pristine" class="help-block">Enter a valid email.</p>
				        </div>
                                </p>
                                <p>
                                        <label class="control-label" for="dashboardname">Group (comma separated):</label>
                                        <input type="text" class="form-control" name="grp" id="grp" ng-model="newuser.grp" ng-init="newuser.grp='users'">
                                </p>
                                <p>
                                        <label class="control-label" for="dashboardname">Department:</label>
                                        <input type="text" class="form-control" name="deparment" id="department" ng-model="newuser.department">
                                </p>
        			<p>
                                        <label class="control-label" for="gid">GID:</label>
                                        <input type="text" class="form-control" name="gid" id="gid" ng-model="newuser.gid" ng-init="newuser.gid=10">
                                </p>
        			<p>
                                        <label class="control-label" for="dashboardname">Active:</label>
					<input ng-model="newuser.active" ng-value="true" type="checkbox" ng-init="newuser.active=1" ng-true-value="1" ng-false-value="0"> 
                                </p>
			</div>
			<div style="clear:both;"></div>
                </form>
                	<div class="modal-footer">
                	        <button class="btn btn-warning" ng-click="removeUserTab()">Cancel</button>
                	        <button class="btn btn-success" ng-click="addNewUser()" ng-disabled="newUserForm.$invalid">Create User</button>
                	</div>
                </div>
	</uib-tab>

	<uib-tab ng-if="editTab === true" active="editTab ? true : false">
	<uib-tab-heading><i class="fa fa-edit"> Edit User</i>  &nbsp; <a ng-click="removeUserTab()" href=''><i class="fa fa-times"></i></a></uib-tab-heading>
		<div style="padding:15px;">
                <div role="alert">
                      <span class="help-block error" ng-show="errorEditUserShow">{{errorEditUserForm}}</span>
                </div>
		<form name="editUserForm">
                        <div style="width:40%;float:left;" class="form-group input-group-lg">
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : editUserForm.username.$invalid && !editUserForm.username.$pristine }">
					<label>Username</label>
						<input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="12" required>
						<p ng-show="editUserForm.username.$error.minlength" class="help-block">Username is too short.</p>
						<p ng-show="editUserForm.username.$error.maxlength" class="help-block">Username is too long.</p>
					</div>
                                </p>
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : editUserForm.password1.$invalid && !editUserForm.password1.$pristine }">
					<label>Password</label>
						<input type="password" name="password1" class="form-control" ng-model="user.password1" ng-minlength="3" ng-maxlength="25">
						<p ng-show="editUserForm.password1.$error.minlength" class="help-block">Password is too short.</p>
						<p ng-show="editUserForm.password1.$error.maxlength" class="help-block">Password is too long.</p>
					</div>
                                </p>
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : editUserForm.password2.$invalid && !editUserForm.password2.$pristine }">
					<label>Password</label>
						<input type="password" name="password2" class="form-control" ng-model="user.password2"  ng-minlength="3"  ng-maxlength="25">
						<p ng-show="editUserForm.password2.$error.minlength" class="help-block">Password is too short.</p>
						<p ng-show="editUserForm.password2.$error.maxlength" class="help-block">Password is too long.</p>
					</div>
                                </p>
                                <p>
                                        <label class="control-label" for="dashboardname">Firstname:</label>
                                        <input type="text" class="form-control" name="firstname" id="firstname" ng-model="user.firstname">
                                </p>
                                <p>
                                        <label class="control-label" for="dashboardname">Lastname:</label>
                                        <input type="text" class="form-control" name="lastname" id="lastname" ng-model="user.lastname">
                                </p>
			</div>
                        <div style="margin-left:8%;width:40%;float:left;" class="form-group input-group-lg">
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : editUserForm.email.$invalid && !editUserForm.email.$pristine }">
				            <label>Email</label>
				            <input type="email" name="email" class="form-control" ng-model="user.email" required>
				            <p ng-show="editUserForm.email.$invalid && !editUserForm.email.$pristine" class="help-block">Enter a valid email.</p>
				        </div>
                                </p>
                                <p>
                                        <label class="control-label" for="dashboardname">Group (comma separated):</label>
                                        <input type="text" class="form-control" name="grp" id="grp" ng-model="user.grp">
                                </p>
                                <p>
                                        <label class="control-label" for="dashboardname">Department:</label>
                                        <input type="text" class="form-control" name="deparment" id="department" ng-model="user.department">
                                </p>
        			<p>
                                        <label class="control-label" for="gid">GID:</label>
                                        <input type="text" class="form-control" name="gid" id="gid" ng-model="user.gid">
                                </p>
        			<p>
                                        <label class="control-label" for="dashboardname">Active:</label>
                                        <input ng-model="user.active" ng-value="true" type="checkbox" ng-true-value="1" ng-false-value="0">
                                </p>
			</div>
			<div style="clear:both;"></div>
                </form>
                	<div class="modal-footer">
                	        <button class="btn btn-danger" ng-click="doDeleteUser();">Delete User</button>
                	        <button class="btn btn-warning" ng-click="removeUserTab()">Cancel</button>
                	        <button class="btn btn-success" ng-click="doEditUser();removeUserTab();" ng-disabled="editUserForm.$invalid">Save Changes</button>
                	</div>
                </div>


	<uib-tab>


	</uib-tabset>

      </div><!-- /.box-body external-scopes="gridHandlers" -->
</div>
