<div class="modal-header homer-modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()" style="margin-right:4px;">&times;</button>

        	<h4 class="modal-title" style="font-size:14px;margin-left:4px;">{{msgCallId}}</h4> 
</div>
<div ng-show="dataLoading">
	<div id="loadingWidget" class="row-fluid ui-corner-all" style="padding: 0 .7em;">
        	<div class="loadingContent"><p><img alt="Loading  Content" src="../img/ajax-loader.gif" /> Loading</p></div>
        </div>
</div>

<div class="body" id="shareit">
		<div class="modal-body-buttons">

	<uib-tabset>
	     <uib-tab>
	     <tab-heading><i class="glyphicon glyphicon-transfer"></i> Call-Flow </tab-heading>	     	     
	      <canvas id="cflowcanv" class="cflow" canvasclick></canvas>
	     </uib-tab>
	     <uib-tab>
	     <tab-heading><i class="glyphicon glyphicon-transfer"></i> RTCP/Reports </tab-heading>	     	     
			{{rtcpreport}}
	     </uib-tab>	     
	     <uib-tab>
	     <tab-heading><i class="glyphicon glyphicon-transfer"></i> Logs </tab-heading>	     	     
			{{logreport}}
	     </uib-tab>
	     <uib-tab>
	     <tab-heading><i class="glyphicon glyphicon-info-sign"></i> Export</tab-heading>
			<button class="btn btn-normal" ng-click="exportPCAP()" data-placement="top-right" style="margin-top:18px;;margin-left:8px;">Export PCAP</button>
			<button class="btn btn-normal" ng-click="exportTEXT()" data-placement="top-right" style="margin-top:18px;;margin-left:8px;">Export TEXT</button>
			<button class="btn btn-normal" ng-click="exportCanvas()" data-placement="top-right" style="margin-top:18px;margin-left:8px;">Export PNG</button>			
			<br><br>
			<p>
			{{sharelink}}
			</p>
	     </uib-tab>
	  </uib-tabset>
</div>

