<div class="container">
    <div id="ordersByStatus" #ordersByStatus>
        <div id="chartAndDataContainer">
            <div id="ordersByStatusTable" *ngIf="chartControlsService.showData">
                <div class="data-container">
                    <div *ngFor="let tag of Tags.tagObj" class="stat-count" [style.background]="tag.color">
                        name: {{tag.name}} count: {{tag.count}}
                    </div>
                </div>
 
        </div>
            <div id="chartContainer" [ngClass]="{'half': chartControlsService.showData}">
                
                <app-d3-pie-chart #ordersByStatusChart [data]="chartData"></app-d3-pie-chart>
            </div>
        </div>
            <mat-slide-toggle class="show-data" color="primary" 
                [checked]="chartControlsService.showData"
                (change)="toggleData($event)">
                Show data
            </mat-slide-toggle>
         
                <select [(ngModel)]="keySelected">
                    <option *ngFor="let key of columnKeysGroupColumn" [value]="key">
                        {{key}}
                    </option>
                </select> ➤
    </div>
</div>