:host {
  display: flex;
  height:100%;
  width:100%;
}

.container {
  width:100%;
  height:calc(100% -80px);
  padding:0;
}

#chartContainer {
  height:100%;
  width: 100%;
}

app-d3-pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.data-container{
  display:flex;
  flex-direction:column;
  width:100%;
  height:100%;
  padding:0px;
  height:80%;
  line-height:1.1;
  overflow-y:auto;
}

.stat-count{
  font-size: 10px;
  letter-spacing: 1px;;
  color:rgb(56, 56, 56);
  margin:1px;
  margin-bottom:3px;
  border-radius:3px;
  background:#fafafa;
  box-shadow:1px 1px 3px lightgrey;
  display:flex;
  flex-wrap:wrap;
}

.stat-name{
  padding:2px;
  color:white;
  text-shadow: 1px 1px 2px black;
  width:100%;
}

.stat-count-label{
  margin:2px;
}

.half{
  display:block;
  width:50%;
}

.user-settings{
  font-size:12px;
  position:absolute;
  width:100%;
  bottom:0px;
  padding:10px;
  left:0px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  background:#fafafa;
}
