.title {
	margin: -1.5rem -1.5rem 2rem -1.5rem;
	width: initial !important;
	display: flex;
	justify-content: space-between;
}
.hr-or {
	width: 100%;
	position: relative;
	&::before {
		content: "or";
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		width: 35px;
		text-align: center;
		top: -12px;
		color: #999;
		background-color: #fff;
		padding: 0 10px;
		border-radius: 50rem;
	}
}
.file-upload-container {
	position: relative;
	& > .fileselect {
		align-items: center;
		background-color: #eee;
		border-radius: 1rem;
		border-style: dashed;
		color: #999;
		cursor: pointer;
		display: flex;
		height: 150px;
		justify-content: center;
		margin: 0;
		min-width: 200px;
		padding: 1rem;
		&::before {
			content: "Drop JSON file here";
		}
		&.drugOver {
			background-color: #ccc;
		}
	}
	& > input[type="file"] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		bottom: 0;
		right: 0;
		cursor: pointer;
		opacity: 0;
	}
}
