<div class="row" ng-show="showtable" style="width:101%;float:right;">
      <div class="box-homer-admin">
	<tabset>
	<tab active="activeMainTab" disabled="activeTab === false" select="tabShown = !tabShown" deselect="tabShown = !tabShown">
	<tab-heading><i class="fa fa-users"> Local Alarms</i></tab-heading>
               <div style="margin-top:8px;">
		 <div id="grid1" ng-if="activeMainTab" ui-grid="gridOptions" class="gridWidgetsStyle" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-auto-resize resize ></div>
               </div>
	</tab>
	<tab ng-if="activeMainTab === true" active="disabled" deselect="activeMainTab">
            <tab-heading ng-click="newAlarm()"><a ng-click="newAlarm()" href=''> <i class="fa fa-plus"> Add Alarm</i></a></tab-heading>
        </tab>

	<tab ng-if="newTab" active="activeNewTab" >
	<tab-heading><i class="fa fa-user"> New Alarm</i>  &nbsp; <a ng-click="removeAlarmTab()" href=''><i class="fa fa-times"></i></a></tab-heading>
		<div style="padding:15px;">
	 	<div role="alert">
		      <span class="error" ng-show="errorNewAlarmShow">{{errorNewAlarmForm}}</span>
		</div>
		<form name="newAlarmForm">
                        <div style="width:40%;float:left;" class="form-group input-group-lg">
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : newAlarmForm.name.$invalid && !newAlarmForm.name.$pristine }">
					<label>Name</label>
						<input type="text" name="name" class="form-control" ng-model="newalarm.name" ng-minlength="3" ng-maxlength="12" required>
						<p ng-show="newAlarmForm.name.$error.minlength" class="help-block">Alarmname is too short.</p>
						<p ng-show="newAlarmForm.name.$error.maxlength" class="help-block">Alarmname is too long.</p>
					</div>
                                </p>
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : newAlarmForm.startdate.$invalid && !newAlarmForm.startdate.$pristine }">
					<label>Start Date</label>
						<input type="text" name="startdate" class="form-control" ng-model="newalarm.startdate" ng-minlength="3" ng-maxlength="21" required ng-init="newalarm.startdate='2035-05-05 23:59:59'">
						<p ng-show="newAlarmForm.startdate.$error.minlength" class="help-block">Start Date is too short.</p>
						<p ng-show="newAlarmForm.startdate.$error.maxlength" class="help-block">Start Date is too long.</p>
					</div>                                
                                </p>
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : newAlarmForm.stopdate.$invalid && !newAlarmForm.stopdate.$pristine }">
					<label>Stop Date</label>
						<input type="text" name="stopdate" class="form-control" ng-model="newalarm.stopdate" ng-minlength="3" ng-maxlength="21" required ng-init="newalarm.stopdate='2035-05-05 23:59:59'">
						<p ng-show="newAlarmForm.stopdate.$error.minlength" class="help-block">Stop Date is too short.</p>
						<p ng-show="newAlarmForm.stopdate.$error.maxlength" class="help-block">Stop Date is too long.</p>
					</div>                                
                                </p>
                                <p>
                                        <label class="control-label" for="dashboardname">Type:</label>
                                        <input type="text" class="form-control" name="type" id="type" ng-model="newalarm.type" ng-init="newalarm.type='401'">
                                </p>
                                <p>
                                        <label class="control-label" for="dashboardname">Value:</label>
                                        <input type="text" class="form-control" name="value" id="value" ng-model="newalarm.value" ng-init="newalarm.value=10">
                                </p>
			</div>
                        <div style="margin-left:8%;width:40%;float:left;" class="form-group input-group-lg">
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : newAlarmForm.email.$invalid && !newAlarmForm.email.$pristine }">
				            <label>Email</label>
				            <input type="email" name="email" class="form-control" ng-model="newalarm.email" required>
				            <p ng-show="newAlarmForm.email.$invalid && !newAlarmForm.email.$pristine" class="help-block">Enter a valid email.</p>
				        </div>
                                </p>
        			<p>
                                        <label class="control-label" for="dashboardname">Notify:</label>
					<input name="notify" ng-model="newalarm.notify" ng-value="true" type="checkbox" ng-init="newalarm.notify=1" ng-true-value="1" ng-false-value="0"> 
                                </p>
        			<p>
                                        <label class="control-label" for="dashboardname">Active:</label>
					<input name="active" ng-model="newalarm.active" ng-value="true" type="checkbox" ng-init="newalarm.active=1" ng-true-value="1" ng-false-value="0"> 
                                </p>
			</div>
			<div style="clear:both;"></div>
                </form>
                	<div class="modal-footer">
                	        <button class="btn btn-warning" ng-click="removeAlarmTab()">Cancel</button>
                	        <button class="btn btn-success" ng-click="addNewAlarm()" ng-disabled="newAlarmForm.$invalid">Create Alarm</button>
                	</div>
                </div>
	</tab>

	<tab ng-if="editTab === true" active="editTab ? true : false">
	<tab-heading><i class="fa fa-edit"> Edit Alarm</i>  &nbsp; <a ng-click="removeAlarmTab()" href=''><i class="fa fa-times"></i></a></tab-heading>
		<div style="padding:15px;">
                <div role="alert">
                      <span class="help-block error" ng-show="errorEditAlarmShow">{{errorEditAlarmForm}}</span>
                </div>
		<form name="editAlarmForm">
                        <div style="width:40%;float:left;" class="form-group input-group-lg">
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : newAlarmForm.name.$invalid && !newAlarmForm.name.$pristine }">
					<label>Name</label>
						<input type="text" name="name" class="form-control" ng-model="recalarm.name" ng-minlength="3" ng-maxlength="12" required>
						<p ng-show="newAlarmForm.name.$error.minlength" class="help-block">Alarmname is too short.</p>
						<p ng-show="newAlarmForm.name.$error.maxlength" class="help-block">Alarmname is too long.</p>
					</div>
                                </p>
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : newAlarmForm.startdate.$invalid && !newAlarmForm.startdate.$pristine }">
					<label>Start Date</label>
						<input type="text" name="startdate" class="form-control" ng-model="recalarm.startdate" ng-minlength="3" ng-maxlength="21" required>
						<p ng-show="newAlarmForm.startdate.$error.minlength" class="help-block">Start Date is too short.</p>
						<p ng-show="newAlarmForm.startdate.$error.maxlength" class="help-block">Start Date is too long.</p>
					</div>                                
                                </p>
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : newAlarmForm.stopdate.$invalid && !newAlarmForm.stopdate.$pristine }">
					<label>Stop Date</label>
						<input type="text" name="stopdate" class="form-control" ng-model="recalarm.stopdate" ng-minlength="3" ng-maxlength="21" required >
						<p ng-show="newAlarmForm.stopdate.$error.minlength" class="help-block">Stop Date is too short.</p>
						<p ng-show="newAlarmForm.stopdate.$error.maxlength" class="help-block">Stop Date is too long.</p>
					</div>                                
                                </p>
                                <p>
                                        <label class="control-label" for="dashboardname">Type:</label>
                                        <input type="text" class="form-control" name="type" id="type" ng-model="recalarm.type" >
                                </p>
                                <p>
                                        <label class="control-label" for="dashboardname">Value:</label>
                                        <input type="text" class="form-control" name="value" id="value" ng-model="recalarm.value">
                                </p>
			</div>
                        <div style="margin-left:8%;width:40%;float:left;" class="form-group input-group-lg">
                                <p>
					<div class="form-group" ng-class="{ 'has-error' : newAlarmForm.email.$invalid && !newAlarmForm.email.$pristine }">
				            <label>Email</label>
				            <input type="email" name="email" class="form-control" ng-model="recalarm.email" required>
				            <p ng-show="newAlarmForm.email.$invalid && !newAlarmForm.email.$pristine" class="help-block">Enter a valid email.</p>
				        </div>
                                </p>
        			<p>
                                        <label class="control-label" for="dashboardname">Notify:</label>
					<input name="notify" ng-model="recalarm.notify" ng-value="true" type="checkbox" ng-true-value="1" ng-false-value="0"> 
                                </p>
        			<p>
                                        <label class="control-label" for="dashboardname">Active:</label>
					<input name="active" ng-model="recalarm.active" ng-value="true" type="checkbox" ng-true-value="1" ng-false-value="0"> 
                                </p>
			</div>
			<div style="clear:both;"></div>
                </form>
                	<div class="modal-footer">
                	        <button class="btn btn-danger" ng-click="doDeleteAlarm();">Delete Alarm</button>
                	        <button class="btn btn-warning" ng-click="removeAlarmTab()">Cancel</button>
                	        <button class="btn btn-success" ng-click="doEditAlarm();removeAlarmTab();" ng-disabled="editAlarmForm.$invalid">Save Changes</button>
                	</div>
                </div>


	<tab>


	</tabset>

      </div><!-- /.box-body external-scopes="gridHandlers" -->
</div>
