<div class="topbar" ng-controller="HomerDatepickerCtrl">
   <div id="header" access="users" access-permission-type="AtLeastOne">

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-default navbar-top" role="navigation">
 		
 		<div class="navbar-header">            
 			<a href class="navbar-brand" ng-click="expandLeftMenu();">
	                  <div class="my-logo">
        	            <img src="img/homer_key.png" alt="Homer Sipcapture" class="logo">
  			  </div>
			</a> 		
	        </div>
		<div class="nav-wrapper">
            <!-- START Left navbar-->
            <ul class="nav navbar-nav">
               <li>
                  <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                  <a uib-tooltip-placement="bottom" uib-tooltip="Show/Hide menu" uib-tooltip-popup-delay='1000' ng-click="changeClass();" data-toggle-state="aside-collapsed" data-persists="true" class="hidden-xs">
                     <em class="fa fa-navicon"></em>
                  </a>
               </li>
               <li>
                  <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                  <a uib-tooltip-placement="bottom" uib-tooltip="Add new Panel" uib-tooltip-popup-delay='1000' ng-click="addDashBoard();" data-toggle-state="aside-collapsed" data-persists="true" class="hidden-xs">
                     <em class="fa fa-plus-square"></em>
                  </a>
               </li>
               <!-- START Messages menu (dropdown-list)-->             
               <!--
               <li class="dropdown dropdown-list">
                  <a href="javascript:void(0);" data-toggle="dropdown" data-play="fadeIn" class="dropdown-toggle">
                     <em class="fa fa-envelope-o"></em>
                     <div class="label label-danger">21</div>
                  </a>
               </li>
               -->
               <li>
                  <!-- Button to clear all site options stored option from browser storage-->
                  <a uib-tooltip-placement="bottom" uib-tooltip="Reload" uib-tooltip-popup-delay='1000' href="javascript:location.reload(true)" data-toggle="reset">
                     <em class="fa fa-refresh" alt="refresh"></em>
                  </a>
               </li>

               <li>
                  <a uib-tooltip-placement="bottom" uib-tooltip="Search box" uib-tooltip-popup-delay='1000' ng-click="showSearchBox();" ui-sref="search" href="#/search">
                     <em class="fa fa-search" alt="search tool"></em>
                  </a>
               </li>

               <li ng-controller="navigationCtrl" ng-init="backdash = false" ng-class="{active: backdash}">
                  <a ng-click="backdash = !backdash"><i class="fa fa-dashboard"></i>Panels</a>
                  <div id="dashSwitch" ng-hide="!backdash" class="ng-hide">
                     <ul>
                        <li class="input">
                           <input type="text" class="form-control" placeholder="Find panels by name" ng-model="searchDash"/>
                        </li>
                        <div ng-repeat="item in items">
                           <li ng-repeat="subItem in item.subItems | filter:searchDash" ng-class="{active: isActive('/dashboard/{{subItem.boardid}}')}">
                              <a ui-sref="dashboard({ boardID:'{{subItem.boardid}}'})" ng-click="$parent.$parent.backdash = false">
                                 <span>{{subItem.name}}</span>
                              </a>
                           </li>
                        </div>
                     </ul>
                  </div>
                  <div id="backdash" ng-hide="!backdash" class="ng-hide backwindow" ng-click="backdash = false;"></div>
               </li>
            </ul>
            <!-- END Left navbar-->
            <!-- START Right Navbar-->
            <ul class="nav navbar-nav navbar-right">
               <!-- Search icon-->

                  <li ng-class="{active: timeWindow}">
                     <a id="filterIndicator" ng-click="toggleTimeWindow();">
                        <i class="fa fa-clock-o"></i>{{ filterIndicator }}
                     </a>
                  </li>
                  <li ng-hide="!updateFrequency" class="ng-hide" ng-class="{active: timeWindow}">
                     <a id="updateIndicator" ng-click="toggleTimeWindow();">
                        <i class="fa fa-refresh"></i>{{ updateFrequency }}
                     </a>
                  </li>
   <!--
               <li>               
                       <span class="timerange-info">
                       			<a uib-tooltip-placement="bottom" uib-tooltip="Now -> + 5 min" ng-click="setFromNow();">
                       				<i class="fa fa-chevron-circle-right"></i>
					</a>
                       </span>
		       <span ng-click="launch();" class="timerange-info">{{timerange.from | date:'yyyy-MM-dd HH:mm:ss Z' }}</span>
                       <span class="timerange-info"><i class="fa fa-arrow-right"></i></span>
		       <span ng-click="launch();"  class="timerange-info">{{timerange.to | date:'yyyy-MM-dd HH:mm:ss Z' }}</span>	       
	       </li>

               <li class="dropdown" ng-class="{open:boolDropDownLastMenu}">               	                            
                      <a uib-tooltip-placement="bottom" uib-tooltip="Range Select" ng-click="showLastMenuBox();" data-play="fadeIn" class="dropdown-toggle">
	                     <em class="fa fa-calendar"></em>
        	      </a>
                  <ul class="dropdown-menu dropdown-color">
                     <li><a href ng-click="showLastMenuBox();last(10);">Last 10 Minutes</a>
                     </li>
                     <li><a href ng-click="showLastMenuBox();last(30);">Last 30 Minutes</a>
                     </li>
                     <li><a href ng-click="showLastMenuBox();last(60);">Last 1 Hour</a>
                     </li>
                     <li><a href ng-click="showLastMenuBox();last(180);">Last 3 Hours</a>
                     </li>
                     <li><a href ng-click="showLastMenuBox();last(360);">Last 6 Hours</a>
                     </li>
                     <li><a href ng-click="showLastMenuBox();last(720);">Last 12 Hours</a>
                     </li>
                     <li><a href ng-click="showLastMenuBox();last(1440);">Last 24 Hours</a>
                     </li>
                     <li><a href ng-click="launch();showLastMenuBox();" >Custom Range...</a>
                     </li>
                  </ul>

               </li>

-->
<!--               <li class="dropdown" ng-class="{open:boolDropDownRefreshMenu}">               	                            
                      <a uib-tooltip-placement="bottom" uib-tooltip="Auto Refresh" ng-click="showRefreshMenuBox();" data-play="fadeIn" class="dropdown-toggle">
	                     <em class="fa fa-clock-o" ng-class="{timeractive:activeInterval}"></em>
        	      </a>
                  <ul class="dropdown-menu dropdown-color">
                     <li><a href ng-click="showRefreshMenuBox();refresh(0);">Manual</a>
                     </li>
                     <li><a href ng-click="showRefreshMenuBox();refresh(2);">Refresh @ 2 seconds</a></li>
                     <li><a href ng-click="showRefreshMenuBox();refresh(5);">Refresh @ 5 seconds</a></li>
                     <li><a href ng-click="showRefreshMenuBox();refresh(10);">Refresh @ 10 seconds</a></li>
                     <li><a href ng-click="showRefreshMenuBox();refresh(30);">Refresh @ 30 seconds</a></li>
                     <li><a href ng-click="showRefreshMenuBox();refresh(60);">Refresh @ 1 minute</a></li>
                     <li><a href ng-click="showRefreshMenuBox();refresh(300);">Refresh @ 5 minutes</a></li>
                     <li><a href ng-click="showRefreshMenuBox();refresh(600);">Refresh @ 10 minutes</a></li>
                     <li><a href ng-click="showRefreshMenuBox();refresh(1800);">Refresh @ 30 minutes</a></li>
                     <li><a href ng-click="showRefreshMenuBox();refresh(3600);">Refresh @ 60 minutes</a></li>
                     <li><a href ng-click="showRefreshMenuBox();cancelRefresh(1);">Cancel</a>
                     </li>
                  </ul>
               </li>
-->
               <li>
                  <a uib-tooltip-placement="bottom" uib-tooltip="Refresh Now" uib-tooltip-popup-delay='1000' ng-click="refresh(0);" >
                     <em class="fa fa-rotate-right"></em>
                  </a>
               </li>


               <li class="dropdown" ng-class="{open:boolDropDownUserMenu}">
                  <a ng-click="showUserMenuBox();" data-play="fadeIn" class="dropdown-toggle">
                     <em class="fa fa-user"></em>
                  </a>
                  <ul class="dropdown-menu dropdown-color">
                  <li ng-controller="profileCtrl"><a ng-click="showUserMenuBox();doUserProfile();">Profile</a></li>
                  <!--
                     
                     <li><a ng-click="showUserMenuBox();void(0);">Settings</a>
                     </li>
                     <li><a ng-click="showUserMenuBox();void(0);">Notifications<div class="label label-info pull-right">0</div></a>
                     </li>
                     <li><a ng-click="showUserMenuBox();void(0);">Messages<div class="label label-danger pull-right">0</div></a>
                     </li>
                     <li><a ng-click="showUserMenuBox();doResetProfile();">Reset Profile</a>
                     </li>                     
                  -->
                     <li><a ng-click="showUserMenuBox();doSaveGridState();">Save Grid</a></li>
                     <li><a ng-click="showUserMenuBox();doRestoreGridState();">Restore Grid</a></li>
                     <li><a ng-click="showUserMenuBox();doResetGridState();">Reset Grid</a></li>
                     </li>&nbsp;</li>                     
                     <li><a ng-click="showUserMenuBox();doLogout();">Logout</a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>

       </nav>
   </div>
   <div id="timeselector" ng-hide="!timeWindow" class="ng-hide">
      <div class="content">
         <div class="col-md-4 col-xs-4 rightBorder calendars">
            <h2 class="text-center">Time Range</h2>
            <hr>

            <label for="datetimepickerFrom">From</label>
            <p class="input-group">
               <input id="datetimepickerFrom" type="text" class="form-control" uib-datepicker-popup="{{formatDate}}" ng-model="timerange.customFrom" is-open="openedFromdate" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
               <span class="input-group-addon">
                  <button class="btn" ng-click="setToNow(1);" uib-tooltip="Set Now">
                     <i class="fa fa-crosshairs"></i>
                  </button>
                  <button class="btn" ng-click="open($event, 'openedFromdate')"  uib-tooltip="Open Calendar">
                     <i class="glyphicon glyphicon-calendar"></i>
                  </button>
               </span>
            </p>
            <p class="input-group">
               <span class="input-group-btn input-time">
                  <uib-timepicker ng-model="timerange.customFrom" hour-step="hstep" minute-step="mstep" show-meridian="false" show-seconds="true"></uib-timepicker>
               </span>
            </p>

            <label for="datetimepickerTo">To</label>
<!--            <p class="input-group">
               <input id="datetimepickerTo" type="text" class="form-control" ng-model="timerange.customTo" ng-required="true">
            </p>
-->
            <p class="input-group">
               <input id="datetimepickerTo" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="timerange.customTo" is-open="openedTodate" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
               <span class="input-group-addon">
                  <button class="btn" ng-click="setToNow(2);" uib-tooltip="Set Now">
                     <i class="fa fa-crosshairs"></i>
                  </button>
                  <button class="btn" ng-click="open($event, 'openedTodate')"  uib-tooltip="Open Calendar">
                     <i class="glyphicon glyphicon-calendar"></i>
                  </button>
               </span>
            </p>
            <p class="input-group">
               <span class="input-group-btn input-time">
                  <uib-timepicker ng-model="timerange.customTo" hour-step="hstep" minute-step="mstep" show-meridian="false" show-seconds="true"></uib-timepicker>
               </span>
            </p>



<!--
            <p class="input-group">
               From:
            </p>
            <p class="input-group">
               <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="timerange.from" is-open="openedFromdate" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
               <span class="input-group-btn">
                  <a uib-tooltip-placement="bottom" uib-tooltip="Set Now">
                     <button class="btn btn-info" ng-click="setToNow(1);"><span class="glyphicon glyphicon-refresh"></span></button>
                  </a>
                  <button class="btn btn-primary" ng-click="open($event, 'openedFromdate')">
                     <span class="glyphicon glyphicon-calendar"></span>
                  </button>
               </span>
            </p>
            <p class="input-group">
                 <span class="input-group-btn input-time">
                     <uib-timepicker ng-model="timerange.from" hour-step="hstep" minute-step="mstep" show-meridian="false" show-seconds="true"></uib-timepicker>
                           </span>
            </p>
            <p class="input-group">
               To:
            </p>
            <p class="input-group">
               <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="timerange.to" is-open="openedTodate" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
               <span class="input-group-btn">
                  <a uib-tooltip-placement="bottom" uib-tooltip="Set Now">         
                     <button class="btn btn-info" ng-click="setToNow(2);"><span class="glyphicon glyphicon-refresh"></span></button>
                  </a>
                  <button class="btn btn-primary" ng-click="open($event, 'openedTodate')">
                     <span class="glyphicon glyphicon-calendar"></span>
                  </button>
               </span>
            </p>
            <p class="input-group">
               <span class="input-group-btn input-time">
                  <uib-timepicker ng-model="timerange.to" hour-step="hstep" minute-step="mstep" show-meridian="false" show-seconds="true"></uib-timepicker>
                         </span>
            </p>
-->            
            <div class="text-center">
               <button class="btn btn-default" ng-click="selectCustomeTime()">Done</button>
            </div>
         </div>
         <div class="col-md-4 col-xs-4 leftMargin">
            <h2 class="text-center">Quick ranges</h2>
            <hr>
               <!-- START Dropdown menu-->
            <ul>
               <li><a href ng-click="last(10, 'Last 10 Minutes');" ng-class="{active: isActive('Last 10 Minutes')}">Last 10 Minutes</a>
               </li>
               <li><a href ng-click="last(30, 'Last 30 Minutes');" ng-class="{active: isActive('Last 30 Minutes')}">Last 30 Minutes</a>
               </li>
               <li><a href ng-click="last(60, 'Last Hour');" ng-class="{active: isActive('Last Hour')}">Last Hour</a>
               </li>
               <li><a href ng-click="last(180, 'Last 3 Hours');" ng-class="{active: isActive('Last 3 Hours')}">Last 3 Hours</a>
               </li>
               <li><a href ng-click="last(360, 'Last 6 Hours');" ng-class="{active: isActive('Last 6 Hours')}">Last 6 Hours</a>
               </li>
               <li><a href ng-click="last(720, 'Last 12 Hours');" ng-class="{active: isActive('Last 12 Hours')}">Last 12 Hours</a>
               </li>
               <li><a href ng-click="last(1440, 'Last 24 Hours');" ng-class="{active: isActive('Last 24 Hours')}">Last 24 Hours</a>
               </li>
               <li>&nbsp;&nbsp;</li>
               <li><a href ng-click="next(5, 'Next 5 Minutes');" ng-class="{active: isActive('Next 5 Minutes')}">Next 5 Minutes</a></li>
               <li><a href ng-click="next(10, 'Next 10 Minutes');" ng-class="{active: isActive('Next 10 Minutes')}">Next 10 Minutes</a></li>
               <li><a href ng-click="next(30, 'Next 30 Minutes');" ng-class="{active: isActive('Next 30 Minutes')}">Next 30 Minutes</a></li>
               <li><a href ng-click="next(60, 'Next Hour');" ng-class="{active: isActive('Next Hour')}">Next Hour</a></li>
            </ul>
         </div>
         <div class="col-md-4 col-xs-4 leftBorder">
            <h2 class="text-center">Auto update</h2>
            <hr>
            <ul>
               <li><a href ng-click="refresh(2, 'Every 2 seconds');" ng-class="{active: isUpdatingActive('Every 2 seconds')}">Every 2 seconds</a></li>
               <li><a href ng-click="refresh(5, 'Every 5 seconds');" ng-class="{active: isUpdatingActive('Every 5 seconds')}">Every 5 seconds</a></li>
               <li><a href ng-click="refresh(10, 'Every 10 seconds');" ng-class="{active: isUpdatingActive('Every 10 seconds')}">Every 10 seconds</a></li>
               <li><a href ng-click="refresh(30, 'Every 30 seconds');" ng-class="{active: isUpdatingActive('Every 30 seconds')}">Every 30 seconds</a></li>
               <li><a href ng-click="refresh(60, 'Every 1 minute');" ng-class="{active: isUpdatingActive('Every 1 minute')}">Every 1 minute</a></li>
               <li><a href ng-click="refresh(300, 'Every 5 minutes');" ng-class="{active: isUpdatingActive('Every 5 minutes')}">Every 5 minutes</a></li>
               <li><a href ng-click="refresh(600, 'Every 10 minutes');" ng-class="{active: isUpdatingActive('Every 10 minutes')}">Every 10 minutes</a></li>
               <li><a href ng-click="refresh(1800, 'Every 30 minutes');" ng-class="{active: isUpdatingActive('Every 30 minutes')}">Every 30 minutes</a></li>
               <li><a href ng-click="refresh(3600, 'Every 60 minutes');" ng-class="{active: isUpdatingActive('Every 60 minutes')}">Every 60 minutes</a></li>
               <li><a href ng-click="cancelRefresh(1);" ng-class="{active: isUpdatingActive('')}">Off</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
<div id="backtimer" ng-hide="!timeWindow" class="ng-hide backwindow" ng-click="timeWindow = false;"></div>
</div>

