
<!--
<li class="active">  
<a ui-sref="dashboard">
<i class="fa fa-dashboard"></i>
<span>Dashboard</span>
</a>
</li>   
<li>    
<a ui-sref="search">
<i class="fa"></i>
<span>Search</span>
</a>
</li>   
</ul>
-->

<div access="users" access-permission-type="AtLeastOne" ng-show="showLeftMenu" class="check-element sample-show-hide" style="clear:both;">

                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar" ng-class="{topheader:boolChangeClass}">
                    <!-- Sidebar user panel -->
<!--
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="img/avatar04.png" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p>Hello, SipUser</p>

                            <a data-target="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
-->
                    <!-- search form -->
		<!--
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                -->
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <!-- <div class="btn-group" ng-controller='navController'>-->
                    
			<!-- 
                      <ul class="treeview-menu">
                                <li><a href="pages/UI/general.html"><i class="fa fa-angle-double-right"></i> General</a></li>
                                <li><a href="pages/UI/icons.html"><i class="fa fa-angle-double-right"></i> Icons</a></li>
                                <li><a href="pages/UI/buttons.html"><i class="fa fa-angle-double-right"></i> Buttons</a></li>
                                <li><a href="pages/UI/sliders.html"><i class="fa fa-angle-double-right"></i> Sliders</a></li>
                                <li><a href="pages/UI/timeline.html"><i class="fa fa-angle-double-right"></i> Timeline</a></li>
                            </ul>
			-->
                    
		    <div ng-controller="navigationCtrl">
			    <ul class="sidebar-menu">
			    	 <li ng-repeat="item in items">
			    	  <a  ng-show="item.href.length > 1" ui-sref="dashboard({boardID:'{{item.href}}'})"">
			    	         <i class="{{item.class}}"></i><span>{{item.name}}</span>
					<small ng-show="item.badgeinfo.length > 0" class="{{item.badgeclass}}">{{item.badgeinfo}}</small>
				  </a>	
				  <span ng-hide="item.href.length > 1">				  	
				  	<a ng-click="showChilds(item)">
						<i class="{{item.class}}"></i><span>{{item.name}}</span>
						<i class="{{item.rowclass}}"></i>
					</a>					
					<ul class="treeview-home-menu">
				                <li ng-repeat="subItem in item.subItems" ng-show="item.active">
				                	<div ng-if="subItem.boardid == 1">
				                		<a ng-click="addNewDashboard()">
				                			<i class="{{subItem.class}}"></i><span>{{subItem.name}}</span>
				                		</a>
							</div>
							<div ng-if="subItem.boardid != 1">											                				                
								<a ui-sref="dashboard({ boardID:'{{subItem.boardid}}'})">
						        		<i class="{{subItem.class}}"></i><span>{{subItem.name}}</span>
								</a>						
							</div>
		        		        </li>
				        </ul>	
				  </span>	
				  	           
			        </li>
			    </ul>
  		    </div>
		                        
                </section>
</div>
