<div *ngIf="dtmfArray && dtmfArray.length > 0">

    <div class="container-dtmf"
        *ngFor="let item of dtmfArray; index as idx">

        <div class="call-header-item"
            (click)="toggleDTMFInfo(idx)"
            [ngStyle]="{ 'border-bottom': '3px solid ' + color(item.callid) }">

            <mat-icon [ngStyle]="{'color' : color(item.callid)}"
                id="{{ idx + '-icon' }}">keyboard_arrow_down
            </mat-icon> <strong style="margin-right:10px;">{{ 'tabDTMF.callId' | translate }}: </strong> {{ item.callid }}

        </div>

        <div class="data-body-container" [id]="idx">
            <div class="dtmf-table">
                <div>
                    <p class="data-title">{{'tabDTMF.callParty' | translate}}</p>
                    <p class="call-party">{{ item.message.PARTY }}</p>
                </div>
                <div>
                    <p class="data-title">{{'tabDTMF.report' | translate}}</p>
                    <p>{{ item.message.TYPE }}</p>
                </div>
                <div>
                    <p class="data-title">{{'tabDTMF.codec' | translate}}</p>
                    <p>{{ item.message.CODEC_NAME }}</p>
                </div>
                <div>
                    <p class="data-title">{{'tabDTMF.payload' | translate}}</p>
                    <p>{{ item.message.CODEC_PT }}</p>
                </div>
                <div>
                    <p class="data-title">{{'tabDTMF.sourceIpPort' | translate}}</p>

                    <p [matTooltip]="ellipsed(item.message.SRC_IP)">{{ellipsisFormat(item.message.SRC_IP)}}</p>
                </div>
                <div>
                    <p class="data-title">{{'tabDTMF.destIpPort' | translate}}</p>
                    <p [matTooltip]="ellipsed(item.message.SRC_IP)">{{ellipsisFormat(item.message.DST_IP)}}</p>
                </div>
            </div>
            <div class="numbers">
                <div class="number-box"
                    *ngFor="let DTMFitem of item.DTMF"
                    [style.flex]="DTMFitem.duration / 1000">
                    <div class="dtmf-num"
                        [hepTooltip]="dtmfData">
                        {{ DTMFitem.NUM }}
                    </div>
                    <ng-template #dtmfData>
                        <div class="dtmf-detail">

                            <p title="Event">{{'tabDTMF.Event' | translate}}: <span>{{DTMFitem.e}}</span></p>
                            <p title="Duration">{{'tabDTMF.Duration' | translate}}: <span>{{DTMFitem.d}}ms</span></p>
                            <p title="Timestamp">{{'tabDTMF.Timestamp' | translate}}: <span>{{DTMFitem.ts}}</span></p>
                            <p title="TSU">{{'tabDTMF.TSU' | translate}}: <span>{{DTMFitem.tsu}}μs</span></p>
                            <p title="Volume">{{'tabDTMF.Volume' | translate}}: <span>{{DTMFitem.v}}dB</span></p>

                        </div>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>
</div>
