.container-dtmf {
    margin: 16px 0px;
    padding: 3px;
    border-bottom: 1px solid lightgray;

}

.call-header-item {
    padding: 6px 12px;
    border-bottom: 4px solid grey;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;

}

.call-header-item:hover {
    background: #e7e7e7;

}

.numbers {
    display: flex;

    .number-box {
        display: flex;
        align-items: center;
        justify-items: space-between;
        justify-content: center;
        flex: 1;
        color: #0aab19;
        background: #0aab1922;
        margin: 3px;
        text-align: center;
        padding: 6px 12px;
        border-radius: 3px;
        max-width: 150px;
    }
}

.dtmf-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 35px;

    p {
        font-size: 13px;
        line-height: .5;
        color: rgb(97, 97, 97);

        &.data-title {
            font-size: 11px;
            font-weight: bold;
            text-transform: uppercase;
            color: grey;
            line-height: .5;

        }

        &.call-party {
            text-align: center;
        }
    }
}


.data-body-container {
    margin: 14px 16px;
    padding: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    div {
        span {
            font-size: 12px;
        }
    }

}

.dtmf-num {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

    p {
        background: turquoise;
        color: grey;
        padding: 3px;
    }
}

.dtmf-detail {
    width: 100%;
    font-size: 11px;
    color: grey;

    p {
        padding: 3px;
        margin: 3px;
        border-bottom: 1px solid lightgray;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}