.example-container {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 10px;
	padding: 20px;
	& > * {
		font-size: 13px;
		line-height: 13px;
		letter-spacing: 1px;
	}
}
.info-label {
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 12px;
	color: #999;
	background: #fff;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	z-index: -1;
}
