.example-container {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 10px;
	padding: 20px;
	& > * {
		font-size: 13px;
		line-height: 13px;
		letter-spacing: 1px;
	}
}
.search-btn {
	background: #10c1cf;
	color: white;

}
.clear-btn {
	background-color: #fafafa;
	color: #8a8a8a;

}
