  <div>
    <div class="alert alert-info" ng-if="!chartConfig && !canvasData && !d3Enabled">
      Please select a query from the widget configuration
    </div>
    <div ng-if="chartConfig">
      <highchart id="chart1" config="chartConfig"></highchart>  
    </div>
    <div ng-if="canvasData">
      <canvas height="chartHeight" width="chartWidth" chart-legend="canvasShowLegend" chart-series="canvasSeries" 
      chart-options="canvasChartOptions" id="base" class="chart-base" chart-type="canvasChartType" chart-data="canvasData" chart-labels="canvasLabels"></canvas> 
    </div>
    <div ng-if="d3Enabled" ng-style="{'height': chartHeight}">
      <svg ng-attr-id="{{ d3ID }}"></svg>
    </div>
  </div>


