<mat-toolbar class="title"
  color="primary">
  <div>Change password</div>
  <button mat-icon-button
    (click)="onNoClick()">
    <fa-icon icon="times"></fa-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content>
    <mat-form-field style="visibility: hidden; height: 0px;">
        <input matInput
        autocomplete="username"
        placeholder="username"
        type='text'
        name="username"
        [formControl]="username"
        />
    </mat-form-field>
      <div style="display: grid; grid-template-columns: 30% 30% 30%; width: 100%; grid-gap: 10px; margin-bottom: 10px;">
        <mat-form-field>
            <input matInput
            autocomplete="password"
            placeholder="Old Password"
            type='password'
            [formControl]="oldPassword"
            name='oldPass'
            required />
            <mat-error *ngIf="data.isNew && password?.errors?.required">The password {{'validators.required' | translate }}</mat-error>
            <mat-error *ngIf="password?.errors?.minlength">
            {{ password?.errors?.minlength?.requiredLength }} {{'validators.minChars' | translate }}
            </mat-error>
            <mat-error *ngIf="password?.errors?.maxlength">
            {{ password?.errors?.maxlength?.requiredLength }} {{'validators.maxChars' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput
            autocomplete="new-password"
            placeholder="Password"
            [type]="hidePass1 ? 'password' : 'text'"
            [formControl]="password"
            name="password"
            required />
          <mat-error *ngIf="data.isNew && password?.errors?.required">The password {{'validators.required' | translate }}</mat-error>
          <mat-error *ngIf="password?.errors?.minlength">
            {{ password?.errors?.minlength?.requiredLength }} {{'validators.minChars' | translate }}
          </mat-error>
          <mat-error *ngIf="password?.errors?.maxlength">
            {{ password?.errors?.maxlength?.requiredLength }} {{'validators.maxChars' | translate }}
          </mat-error>
          <mat-error *ngIf="password?.errors?.pattern && !password?.errors?.minlength">
            {{'validators.pattern' | translate }} [aA-Zz] or [0-9]]
          </mat-error>
          <mat-icon matSuffix
            style="cursor: pointer"
            (click)="hidePass1 = !hidePass1"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePass1"
            [matTooltip]="hidePass1 ? 'Show password' : 'Hide password'">
            {{ hidePass1 ? "visibility_off" : "visibility" }}
          </mat-icon>
        </mat-form-field>

        <mat-form-field>
          <input matInput
            autocomplete="new-password"
            placeholder="Confirm"
            [type]="hidePass1 ? 'password' : 'text'"
            [formControl]="password2"
            required />
          <mat-error *ngIf="password?.value !== password2?.value">
            The password and its confirmation do not coincide
          </mat-error>
          <mat-error *ngIf="password2?.errors?.minlength">
            {{ password2?.errors?.minlength?.requiredLength }} Characters
            min
          </mat-error>
          <mat-error *ngIf="password2?.errors?.maxlength">
            {{ password2?.errors?.maxlength?.requiredLength }} Characters
            max
          </mat-error>
        </mat-form-field>
        
      </div>
</div>


<div mat-dialog-actions
  style="float: right; margin-bottom: 0rem">
  <button mat-raised-button
    (click)="onNoClick()">{{'LINK.buttons.cancel' | translate}}</button>
  <button mat-raised-button
    color="primary"
    (click)="onSubmit()"
    cdkFocusInitial>
    {{'LINK.buttons.save' | translate}}
  </button>
</div>