$homerprimary: (
    50 : #e2f8f9,
    100 : #b7ecf1,
    200 : #88e0e7,
    300 : #58d4dd,
    400 : #34cad6,
    500 : #10c1cf,
    600 : #0ebbca,
    700 : #0cb3c3,
    800 : #09abbd,
    900 : #059eb2,
    A100 : #dcfaff,
    A200 : #a9f4ff,
    A400 : #76edff,
    A700 : #5deaff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$homeraccent: (
    50 : #fde7e5,
    100 : #fac2bd,
    200 : #f79992,
    300 : #f37066,
    400 : #f15245,
    500 : #ee3324,
    600 : #ec2e20,
    700 : #e9271b,
    800 : #e72016,
    900 : #e2140d,
    A100 : #ffffff,
    A200 : #ffdbda,
    A400 : #ffa9a7,
    A700 : #ff918e,
    contrast:  (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$checkbox-color: (
    50 : #0076f9,
    100 : #0076f9,
    200 : #0076f9,
    300 : #0076f9,
    400 : #0076f9,
    500 : #0076f9,
    600 : #0076f9,
    700 : #0076f9,
    800 : #0076f9,
    900 : #0076f9,
    A100 : #0076f9,
    A200 : #0076f9,
    A400 : #0076f9,
    A700 : #0076f9,
    contrast:  (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);