.flow-grid-lines {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0px;
    bottom: 0;
    right: 0px;
    margin-top: 66px;
    height: calc(100% - 67px);

    //   transition: all 0.3s ease;
    .line {
        margin-right: -1px;
        border: 1px dotted #999;
        border-right-width: 1px;
        border-left-width: 1px;
        border-bottom: 0;
        min-width: 150px;
        // transition: all 0.3s ease;
        flex: 1;
    }
}

::ng-deep .mat-tooltip {
    font-size: 14px;
}

.hosts {
    // position: sticky;
    // top: 0px;
    display: flex;
    justify-content: space-between;
    // z-index: 1;
    background: white;

    .item-wrapper {
        margin-top: 7px;
        min-width: 200px;

        // transition: all 0.3s ease;
        &.big {
            min-width: 150px;
        }

        &.hidden {
            display: none;
        }

        &:last-child {
            min-width: 0px;
        }

        .item {
            margin: 0;
            background-color: #fff;
            font-size: 12px;
            padding: 0.3rem;
            font-weight: 700;
            border-bottom: 1px dotted #999;
            padding-top: 1rem;
            margin-top: 0;
            display: flex;
            width: 100px;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 60px;
        }
    }
}

.flowscreen {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 0rem;
    height: 100%;

    // overflow: hidden;
}

.virtual-scrollbar {
    position: absolute;
    // background: aqua;
    width: 22px;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

cdk-virtual-scroll-viewport {
    // contain: none;
    // height: 800px;
    &.flow-packets-wrapper {
        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: calc(100% - 66px);

        // overflow: hidden !important;

        /* Firefox */
        // .cdk-virtual-scroll-content-wrapper {


        // }
    }
}

.label-callid-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 7px;
    bottom: 19px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    max-height: 50px;
    overflow-y: auto;

    .label-callid-wrapper {
        background-color: rgba(255, 255, 255, 0.7);
        display: inline-block;
        padding: 5px;
        border-radius: 4px;
    }
}

.iptooltip {
    white-space: pre-line !important;

    font-size: 11px !important;
    font-weight: bold;
}

.copysnack {
    color: white !important;
    background-color: rgb(61, 61, 61) !important;

    .mat-simple-snackbar-action {
        color: rgb(28, 221, 160) !important;
    }
}

.itemhost-alias {
    text-align: center;
    font-size: 13px !important;
    font-weight: normal;
    white-space: nowrap;
}