.vertical {
    .scrollable-content {
        max-width: initial !important;
    }
}

.flow-grid-lines {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0px;
    bottom: -1px;
    right: 0px;

    // transition: all 0.3s ease;
    .line {
        margin-right: -1px;
        border: 0px dotted rgb(204, 204, 204);
        border-right-width: 1px;
        border-left-width: 1px;
        min-width: 150px;
        // transition: all 0.3s ease;
        flex: 1;
    }
}

.hosts {
    position: absolute;
    top: 0px;
    display: inline-block;
    // justify-content: space-between;
    z-index: 1;
    padding: 6px;
    min-width: 100%;

    .hosts-wrapper {
        display: flex;
        justify-content: space-between;

        .item-wrapper {
            min-width: 200px;
            height: 1px;

            &.big {
                min-width: 150px;
            }

            &.hidden {
                display: none;
            }

            &:last-child {
                min-width: 0px;
            }

            .item {
                position: relative;
                display: inline-block;
                margin-top: 0.3rem 0;
                background-color: white;
                color: grey;
                font-size: 12px;
                border: 1px dotted lightgray;
                border-radius: 6px;
                max-width: 105px;
                min-width: 105px;

                .ipfield {
                    text-align: center;
                    background: #fafafa;
                    color: #717171;
                    padding: 3px 6px;
                    border-radius: 0px 0px 6px 6px;
                    border-top: 1px solid #ececec;

                    &.multiple {
                        // display: none;
                        display: block;
                    }

                    &.dotted {
                        // display: block;
                        display: none;

                        >span {
                            font-size: 12pt;
                            line-height: 0;
                        }
                    }
                }

                // &:hover .ipfield {
                //     &.multiple {
                //         display: block;
                //     }
                //     &.dotted {
                //         display: none;
                //     }
                // }
                .aliasfield {
                    display: flex;
                    flex-direction: column;
                    font-size: 12px;
                    justify-content: center;
                    color: rgb(102, 102, 102);
                    border-radius: 6px 6px 0px 0px;
                    padding: 3px 3px;
                    text-align: center;
                    max-width: 105px;
                    min-height: 58px;
                }

                .aliasimg {
                    margin-left: -3px;
                }

                .alias-name {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-weight: 500;
                    font-family: 'Roboto';
                }

                .defaultaliasimg {
                    margin-left: -3px;
                    opacity: .35;
                    height: 20px;
                    padding: 7.5px;
                    height: 35px;
                }
            }
        }
    }
}

.flowscreen {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 1rem;
    margin-right: -9px;
}

.virtual-scrollbar {
    position: absolute;
    // background: aqua;
    width: 22px;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    z-index: 999;
}

.label-callid-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 7px;
    bottom: 19px;
    text-align: center;
    font-size: 12px;
    max-height: 50px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }

    .label-callid-wrapper {
        background-color: rgba(255, 255, 255, 0.7);
        display: inline-block;
        padding: 5px;
        border-radius: 4px;
    }
}

.flowline {
    padding-top: 6px
}