
td.mat-mdc-cell {
    padding-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
}
table {
    width: 100%;
}
.page-wrapper {
    background-color: #fff;
    flex: 1;
    padding: 2rem;
    overflow-y: auto
}
.tab-name {
    text-align: left;
    padding: 20px;
    padding-left: 0px;
  
    & h3 {
      font-size: 1.25em;
      font-weight: bold;
      color: grey;
      padding-bottom: 5px;
      margin-bottom: 0px;
      line-height: 0.75em;
    }
  
    & small {
      color: grey;
    }
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

  
