# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: ["master"]
  pull_request:
    branches: ["master", "develop"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  run_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - uses: actions/checkout@v3
      - name: NPM install
        run: npm i
      - name: Build using Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm run build --if-present
  bump_version:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master'  }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Bump version
        id: version
        shell: bash
        continue-on-error: true
        run: |
          chmod u+x .github/scripts/bumpversion.sh
          .github/scripts/bumpversion.sh
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "New version"
          git push
      - name: Create a Release
        uses: rickstaa/action-create-tag@v1
        continue-on-error: true
        with:
          tag: ${{ steps.version.outputs.TAG_NAME }}
          message: ${{ steps.version.outputs.TAG_NAME }}
